$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

//@import "bootstrap-sass/lib/bootstrap";
//@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* Put your CSS here */

$primary:         darken(#428bca, 6.5%) !default; // #337ab7
$green:         #5cb85c !default;
$info:            #5bc0de !default;
$orange:         #f0ad4e !default;
$red:          #d9534f !default;

body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.title{
  //color: $gray-light;
}

.spinnerDiv{
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.33);
}

.current-user{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  a{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.well-error{
  border: 2px solid $red !important;
}

.well{
  &.show-errors{
    background-color: $red;
    color: white;
  }
}

h3{
  margin-bottom: 35px;
}
.entete-well{
color: #ffffff;

text-align: center;

}
.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
