<h1 class="text-center text-uppercase text-info">{{user.prenom}} {{user.nom}}</h1>

<div ui-view="info"></div>
<div ui-view="affectation" permission permission-only="['Prof','Admin']"></div>
<div ui-view="permanence" permission permission-except="['Adhérent']"></div>
<div ui-view="facture"></div>
<div ui-view="role" permission permission-only="['Admin']"></div>

<!-- a rajouter dans le div suivant !!! :permission
     permission-only="['Prof','Admin']" -->

