<button type="button" class="btn btn-info btn-lg btn-block" ng-if="user.latest_reg.statuses.id > 1 && user.latest_reg.statuses.id < 6" ng-hide="reafect" ng-click="reafectOn()">Changer l'affectation</button>
<div ng-if="user.latest_reg.statuses.id == 1 || reafect">
  <div class="well form-horizontal" style="background-color:#6699ff">
    <h3 class="entete-well">DEMANDE</h3>

    <div class="form-group">

      <label  class="col-md-2 control-label">Catégorie choisie</label>
      <div class="col-md-3">
        <input  class="form-control" id="cat_choisie" ng-true-value="1" ng-model="user.latest_reg.categories_pref.categorie" ng-readonly="true" >
      </div>

      <label  class="col-md-2 control-label">Jour choisi</label>
      <div class="col-md-3">
        <input  class="form-control" id="jour_choisi" ng-true-value="1" ng-model="user.latest_reg.days_pref.name" ng-readonly="true" >
      </div>
    </div>
  </div>

  <div class="well" style="background-color:#6699ff" >

    <div class='row'>

      <div class='col-md-10 col-md-offset-1 form-horizontal'>

        <h3 class="entete-well">DECISION</h3>
        <div class='row'>

          <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>

            <div class='form-group'>
              <label  class="col-md-4 control-label">Catégorie</label>
              <div class="col-md-8">
                <select name="repeatSelectCategories" class="form-control" id="repeatSelect" ng-model="registrationUpdate.category" ng-change="getDays(registrationUpdate.category)">
                  <option ng-repeat="category in categories" ng-value="category.id">{{category.categorie}}</option>
                </select>
              </div>
            </div>


          </div>
          <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>

            <div class='form-group'>
              <label  class="col-md-4 control-label">Groupe</label>
              <div class="col-md-8">
                <select name="repeatSelectGroupes" class="form-control" id="repeatSelect" ng-model="registrationUpdate.groupe_id">
                  <option ng-repeat="groupe in groupes" ng-value="groupe.id">{{groupe.name}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class='row well form-horizontal text-center' ng-if="days.length">
          <h4>Crénaux</h4>
          <div class="col-md-10 col-md-offset-1">
            <label class="checkbox-inline" ng-repeat="day in days">
              <input type="checkbox" ng-model="registrationUpdate.days[day.id]" ng-true-value="{{day.id}}">
              {{day.name}}
            </label>
          </div>
        </div>

        <div class='row well form-horizontal text-center'>
          <h4>Profs</h4>
          <div class="col-md-10 col-md-offset-1">
            <label class="checkbox-inline" ng-repeat="prof in profs">
              <input type="checkbox" ng-model="registrationUpdate.profs[prof.id]" ng-true-value="{{prof.id}}">
              {{prof.prenom}} {{prof.nom}}
            </label>
          </div>
        </div>
        <div class='row '>

          <div class="form-group">
            <label  class="col-md-2 control-label">Remarque affectation</label>

            <div class="col-md-10 ">

              <textarea class="form-control"  id="remarques" ng-model="user.latest_reg.remarque_aff" name="remAff" ng-readonly="false" ng-blur="saveRem({affectation: true})" rows="3"></textarea>
            </div>

          </div>


        </div>

      </div>

    </div>

  </div>

  <div class="well" ng-if="user.latest_reg.status_id == 1 || reafect">
    <div class="row" >
      <div class="col-md-6">
        <button type="button" class="btn btn-info btn-lg btn-block col-md-6" ng-click="affectation('2')">Pré-affectation</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-success btn-lg btn-block col-md-6" ng-click="affectation('3')">Affectation définitive</button>
      </div>
    </div>

    <!-- ajouter div suivante :permission
         permission-only="['Tresorier','Admin']" -->
  </div>

</div>
