<div class="text-center">
  <button type="button" class="btn btn-info btn-lg btn-block" ng-click="createFacture()" ng-if="factures == null" permission permission-only="['Trésorier','Admin']">ENCAISSER INSCRIPTION</button>
  <div class="well" ng-if="showFacError">
    <p>
      Tous les dossiers des adhérents rattachés n'ont pas été déposés !
    </p>
  </div>
  <div class="alert alert-danger" role="alert" ng-if="user.latest_reg.status_id == 9">
    Attention, cette facture doit être anulée car la catégorie à été modifiée.
    <br>
    1 - Veuillez suprimer les réglèments liés à celle-ci.
    <br>
    2 - Cliquez sur "Générer un avoir et une nouvelle facture".
  </div>
  <div class="well" ng-if="factures != null" style="background-color:#c2e2b6">
    <div class='row'>

      <div class='col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1'>
        <h3 >FACTURATION ADHESION</h3>
        <table class="table table-bordered table-hover  panel-warning ">

          <thead class="panel-heading ">
          <tr>
            <td>Designation</td>
            <td>Montant</td>
          </tr>
          </thead>
          <tbody style="background-color:#ffffff">
          <tr ng-repeat="l in factures.lines">
            <td>{{l.designation}}</td>
            <td>{{l.amount}}</td>
          </tr>
          </tbody>
          <tfoot style="background-color:#ffffff">
          <tr>
            <td>Total</td>
            <td>{{getTotalLines()|currency}}</td>
          </tr>
          </tfoot>
        </table>

        <h3>REGLEMENTS</h3>
        <table class="table table-bordered table-hover  panel-warning ">
          <thead class="panel-heading ">
          <tr>
            <th>Date d'encaissement</th>
            <th>Moyen de paiement</th>
            <th>Date d'échéance</th>
            <th>Montant</th>
            <th>Remarque</th>
            <th>Supprimer</th>
          </tr>
          </thead>


          <tbody style="background-color:#ffffff">
          <tr ng-repeat="p in factures.payements">
            <td>{{p.date_encaissement| amDateFormat:'Do MMM YYYY'}}</td>
            <td>{{p.methods.name}}</td>
            <td>{{p.date_echeance| amDateFormat:'Do MMM YYYY'}}</td>
            <td>{{p.amount|currency}}</td>
            <td>{{p.remarque}}</td>
            <td>
              <button class="btn btn-danger" type="button"  ng-click="removeFromPayement(p.id)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          </tbody>

          <tfoot style="background-color:#ffffff">
          <tr>
            <td colspan="3">Total</td>
            <td>{{getTotalPay()|currency}}</td>
            <td colspan="2"></td>
          </tr>
          </tfoot>
        </table>

        <h3>En cours</h3>
        <table class="table table-bordered table-hover  panel-warning ">



          <tbody style="background-color:#ffffff">
          <tr>
            <th class="warning">Total</th>
            <td>{{getTotalLines()|currency}}</td>
          </tr>
          <tr>
            <th class="warning">En cours</th>
            <td>{{getTotalPay()|currency}}</td>
          </tr>
          <tr>
            <th class="warning">Remise</th>
            <td>{{factures.remise ? factures.remise : 0|currency}}</td>
          </tr>
          <tr>
            <th class="warning">Restant dû</th>
            <td>{{getTotalLines() - getTotalPay() - factures.remise |currency}}</td>
          </tr>
          </tbody>
        </table>

        <div class='row' ng-if="(getTotalLines() - getTotalPay() - factures.remise) > 0">


          <div class="row" ng-hide="user.latest_reg.status_id == 9">
            <h3 class="text-center">Nouvel encaissement</h3>

            <div class="col-md-2">
              <input class="form-control" type="text" ng-model="newPayement.amount" placeholder="Montant"/>
            </div>

            <div class="col-md-2">

              <select name="selectList" id="selectList" class="form-control" ng-model="newPayement.methodId">
                <option value=""></option>
                <option value="4">Espèces</option>
                <option value="2">Chèque</option>
                <option value="5">Chèque vacance</option>
                <option value="3">Virement</option>
                <option value="1">CB</option>
              </select>

            </div>
            <div class="col-md-2">
              <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="dateEnc" ng-change="getDateEnc(dateEnc)"  name="naissance" type="sate"  placeholder="encaissé le"/>
              </datepicker>
            </div>
            <div class="col-md-2">
              <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="dateEch" ng-change="getDateEch(dateEch)" name="naissance" type="text"  placeholder="Echéance le"/>
              </datepicker>
            </div>
            <div class="col-md-2">
              <input class="form-control" type="text" ng-model="newPayement.remarque" placeholder="info. rglt"/>
            </div>

            <button type="button" class="btn btn-success" ng-click="addPayement()">
              Encaisser
            </button>
          </div>

          <button type="button" class="btn btn-info btn-lg btn-block" ng-click="createFacture()" ng-if="user.latest_reg.status_id == 9 && getTotalPay() == 0" permission permission-only="['Trésorier','Admin']">Générer un avoir et une nouvelle facture</button>


        </div>

      </div>
    </div>

    <button type="button" class="btn btn-danger btn-lg btn-block" ng-if="user.latest_reg.status_id == 4" ng-click="validateReg()" permission permission-only="['Trésorier','Admin']">VALIDER INSCRIPTION</button>






  </div>
</div>
