<div class="well form-horizontal">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        Suivi : {{user.latest_reg.statuses.name}}
      </div>
      <div class="col-md-4">
        Ancienneté : {{user.anciennete.length ? user.anciennete : 'Inconnu'}}
      </div>
      <div class="col-md-4">
        Role:
        <ul class="list-inline">
          <li ng-repeat="r in user.roles">{{r.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        Catégorie : {{user.latest_reg.categories.categorie}}
      </div>
      <div class="col-md-4">
        Crénaux:
        <ul class="list-inline">
          <li ng-repeat="c in user.latest_reg.days">{{c.name}}</li>
        </ul>
      </div>
      <div class="col-md-4" ng-if="user.latest_reg.status_id != 1">
        <div class="row">
          <div class="col-md-12">
            Statut : {{user.latest_reg.affecte == 0 ? 'pré-affectation' : 'affectation'}}
          </div>
          <div class="col-md-12" permission permission-only="['Prof','Admin']" ng-if="user.latest_reg.affecte == 0">
            <button class="btn btn-default btn-block" ng-click="affect()">Affecter définitevement</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        Sexe : {{user.sexe | sexeFilter}}
      </div>
      <div class="col-md-4">
        Prénom : {{user.prenom}}
      </div>
      <div class="col-md-4">
        Nom : {{user.nom}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        Né le : {{user.naissance | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-md-4">
        Age : {{user.naissance | ageFilter}}
      </div>
      <div class="col-md-4">
        Ville : {{user.latest_reg.cities.ville_nom_reel}}
      </div>
    </div>
  </div>
</div>

<div class="well text-center">
  <h4>COORDONNEES TELEPHONIQUES & MAILS</h4>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div ng-repeat="contact in user.latest_reg.own_email">
            Email {{$index > 0 ? " " + ($index + 1) : ""}} : {{contact.email}}
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div ng-repeat="contact in user.latest_reg.own_tel">
            Téléphone {{$index > 0 ? " " + ($index + 1) : ""}} : 0{{contact.tel}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-info btn-lg btn-block" ui-sref="app.index.edit({userId: user.id})">MODIFIER INFOS</button>
<button type="button" class="btn btn-success btn-lg btn-block" ng-click="showDossier()">Télécharger le dossier d'inscription</button>


<div class="well" style="margin-top: 40px;" ng-class="{'well-error' : error.auth_coor}">
  <div class="form-horizontal">

    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class='form-group'>
          <label class="control-label col-md-4">N° Licence FFT</label>
          <div class="col-md-8">
            <input   class="form-control" id="licence"  ng-model="user.license" ng-readonly="true">
          </div>
        </div>
      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class="form-group" ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">Classement</label>
          <div class="col-md-3">
            <input   class="form-control" id="classement" ng-model="user.latest_reg.rankings.name" ng-readonly="true">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-md-2 control-label">Ancien club</label>

        <div class="col-md-6 ">
          <input   class="form-control" id="classement" ng-model="user.latest_reg.old_club" ng-readonly="true">
        </div>


      </div>
    </div>


    <div class="row form-group">
      <label  class="col-md-2 control-label">Remarques adhérent</label>

      <div class="col-md-8 ">

        <textarea class="form-control"  id="remarques" ng-model="user.latest_reg.remarque_user" name="remAff" ng-readonly="true" ng-blur="saveRem({adh: true})" rows="3"></textarea>
      </div>

    </div>
  </div>
</div>



<div class="well" style="background-color:#2cbe0e">
  <h2 class="entete-well">UTILISATION DES DONNEES PERSONNELLES</h2>

  <div class="well form-horizontal" style="background-color:#4aef2a">
    <div class="form-group">

      <div class="checkbox col-md-3 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.coor_jr">
          Diffusion autres joueurs
        </label>
      </div>

      <div class="checkbox col-md-2 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.coor_p_tcu">
          Partenaires TCU
        </label>
      </div>

      <div class="checkbox col-md-2 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.coor_p_fft">
          Partenaires FFT
        </label>
      </div>

      <div class="checkbox col-md-3 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.media_autorisation">
          Utilisation photos-vidéos
        </label>
      </div>

    </div>
  </div>


</div>

<div class="text-center" ng-hide="true">
  <button type="button" class="btn btn-success btn-lg btn-block" href="#">RENOUVELLER INSCRIPTION</button>
  <button type="button" class="btn btn-warning btn-lg btn-block" href="#">MODIFIER MOT DE PASSE</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" href="#">SUPPRIMER COMPTE</button>

</div>

<div class="well" permission permission-except="['Adhérent']">
  <div class='row form-horizontal'>
    <div class="form-group">
      <label  class="col-md-4 control-label">Remarque TCU Non visible par l'adhérent</label>
      <div class="col-md-6 ">

        <textarea class="form-control"  id="remarque_tcu" ng-model="user.latest_reg.remarque" name="remAff" ng-readonly="false" ng-blur="saveRem({affectation: false})" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>


<div class="well form-horizontal" style="background-color:#f3e28c" ng-show="(user.naissance | ageFilterNum) < 18">

  <h2 class="entete-well"  >MEDICAL</h2>
  <div class="form-group">

    <label  class="col-md-2 control-label">Représentant légal</label>
    <div class="col-md-3">
      <input  class="form-control" id="representant" ng-model="user.latest_reg.responsable.nom" ng-readonly="true" >
    </div>


    <label  class="col-md-2 control-label">Médecin</label>
    <div class="col-md-3">
      <input  class="form-control" id="medecin" ng-model="user.latest_reg.medecin" ng-readonly="true" >
    </div>

  </div>
  <div class="form-group">
    <label  class="col-md-2 control-label">Accident : se rendre</label>
    <div class="col-md-3">
      <input  class="form-control" id="medecin" ng-model="user.latest_reg.pec" ng-readonly="true" >
    </div>




    <label  class="col-md-2 control-label">Tel. médecin</label>
    <div class="col-md-3">
      <input  class="form-control" id="prof2" ng-model="'0'+user.latest_reg.medecin_tel" ng-readonly="true" >
    </div>

  </div>


  <div class="form-group">
    <table class="table table-bordered table-hover  panel-warning ">

      <thead class="panel-heading ">
      <td>CONTACTS</td>
      <td>PARENTE</td>
      <td>TELEPHONE</td>
      </thead>
      <tbody style="background-color:#ffffff">
      <tr ng-repeat="contact in user.latest_reg.contacts">
        <td>{{contact.nom}}</td>
        <td>{{contact.lien_parente}}</td>
        <td>0{{contact.tel}}</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>


<div class="well" style="background-color:#aeccea">
  <h2 class="entete-well">INSCRIPTIONS</h2>
  <div class="form-group">
    <table class="table table-bordered table-hover  panel-primary ">

      <thead class="panel-heading  text-center">
      <td>DATE PRE-INSCRIPTION</td>
      <td>CATEGORIE</td>
      <td>GROUPE</td>
      <td>MONTANT</td>
      <td>FACTURE</td>
      </thead>
      <tr style="background-color:#ffffff" ng-repeat="reg in user.old_reg">
        <td>{{reg.created_at | amDateFormat:'Do MMMM YYYY'}}</td>
        <td>{{reg.categories.categorie}}</td>
        <td>{{reg.groupes.name}}</td>
        <td>{{reg.price|currency}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-xs btn-block" ng-click="showFacture(reg.facture_id)" ng-if="reg.facture_id != null && reg.avoir_id == null">Editer</button>
          <button type="button" class="btn btn-primary btn-xs btn-block" ng-click="showFacture(reg.avoir_id)" ng-if="reg.avoir_id != null">Avoir</button>
        </td>
      </tr>

    </table>
  </div>
</div>

<div class="row" permission permission-except="['Adhérent']">
  <div class="col-md-12">
    <button class="btn btn-warning btn-block" ng-click="hideVente = true">Enregistrer vente articles</button>
  </div>
</div>

<div class="well" style="background-color:#c2e2b6" ng-show="hideVente">
  <h3 class="text-center">Nouvelle vente</h3>
  <div class="row" ng-repeat="line in newVente.lines" style="margin-bottom: 10px;">
    <form class="form-inline">
      <div class="form-group">
        <select ng-model="line.sort" class="form-control" ng-blur="getArticle(line.sort, $index)">
          <option value="" disabled selected>Catégorie</option>
          <option ng-repeat="sort in sorts" ng-value="sort.id">{{sort.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <select ng-model="line.article" class="form-control" ng-blur="getDetailArticle(line.article, $index)">
          <option value="" disabled selected>Articles</option>
          <option ng-repeat="article in articles[$index]" ng-value="$index">{{article.designation}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quantite">Quantité</label>
        <input class="form-control" id="quantite" type="number" min="0" ng-model="line.quantite" placeholder="Quantité"/>
      </div>
      <div class="form-group">
        <label for="pu">Prix unitaire</label>
        <input type="number" class="form-control" id="pu" ng-model="line.pu" readonly>
      </div>
      <div class="form-group">
        <label for="total">Total</label>
        <input type="number" class="form-control" id="total" ng-model="line.pu * line.quantite" readonly>
      </div>
      <button type="button" class="btn btn-danger" ng-if="$index > 0" ng-click="newVente.lines.splice($index,1)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'article
      </button>
      <button type="button" class="btn btn-success" ng-click="addline()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un article
      </button>
    </form>
  </div>
  <div class="row">
    <form class="form-inline">
      <div class="form-group">
        <label for="subTotal">Sous total</label>
        <input class="form-control" id="subTotal" type="number" ng-model="getSub()" placeholder="Sous total" readonly/>
      </div>
      <div class="form-group">
        <label for="remise">Remise</label>
        <input type="number" class="form-control" id="remise" min="0" ng-model="newVente.remise">
      </div>
      <div class="form-group">
        <label for="tot">Total</label>
        <input type="number" class="form-control" id="tot" ng-model="getSub() - newVente.remise" readonly>
      </div>
      <button type="button" class="btn btn-success" ng-click="setVente()">
        Valider la vente
      </button>
    </form>
  </div>




</div>

<div class="well" style="background-color:#c2e2b6" ng-if="user.latest_reg.ventes.length > 0">
  <h2 class="entete-well" >VENTES</h2>
  <div class="form-group">
    <table class="table table-bordered panel-success  table-hover table-striped">

      <thead class="panel-heading text-center">
      <td>DATE</td>
      <td>ARTICLES</td>
      <td>MONTANT</td>
      <td>ENCOURS</td>
      <td>SOLDE</td>
      <td>Facture</td>
      <td>Supprimer</td>
      </thead>
      <tr style="background-color:#ffffff" ng-repeat="v in user.latest_reg.ventes" ng-if="v.is_avoir != 1">
        <td>{{date(v.created_at) | date:'dd/MM/yyyy'}}</td>
        <td>
          <ul>
            <li ng-repeat="l in v.lines">{{l.designation}}</li>
          </ul>
        </td>
        <td>{{getMontant(v.lines) - v.remise|currency}}</td>
        <td>{{getEncours(v.payements)|currency}}</td>
        <td>{{getMontant(v.lines) - getEncours(v.payements) - v.remise|currency}}</td>
        <td>
          <button type="button" class="btn btn-success btn-xs btn-block" ng-if="(getMontant(v.lines) - getEncours(v.payements) - v.remise) <= 0 || v.is_avoir" ng-click="showFacture(v.id)">Editer</button>
          <button type="button" class="btn btn-info btn-xs btn-block" ng-if="(getMontant(v.lines) - getEncours(v.payements) - v.remise) > 0 && !v.is_avoir" permission permission-except="['Adhérent']" ui-sref="app.index.payements({factureId: v.id, userId: user.id})">Paiement</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="createAvoir(v.id, v.payements)">Supprimer</button>
        </td>
      </tr>


    </table>
  </div>




</div>
