<div class="well form-horizontal">
  <div class="row">
    <div class="form-group">
      <label  class="col-md-1 control-label">SUIVI</label>
      <div class="col-md-3">
        <input  class="form-control" id="tel1" ng-model="user.latest_reg.statuses.name" ng-readonly="true" >
      </div>
      <label  class=" col-md-2 control-label">ANCIENNETE</label>
      <div class="col-md-1">
        <input  class="form-control" id="anciennete" ng-model="user.anciennete" ng-readonly="true" >
      </div>
       <label  class=" col-md-2 control-label">ROLES</label>
      <div class="col-md-4">
        <ul>
          <li ng-repeat="b in user.roles">{{b.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label  class="col-md-1 control-label">Catégorie</label>
      <div class="col-md-4">
        <input  class="form-control" id="tel1" ng-model="user.latest_reg.categories.categorie" ng-readonly="true" >
      </div>
      <label  class=" col-md-2 control-label">Crénaux</label>
      <div class="col-md-4">
        <ul>
          <li ng-repeat="c in user.latest_reg.days">{{c.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="well">
  <div class="form-horizontal">
    <div class="row form-group">

      <label  class="col-md-1 control-label">Sexe</label>
      <div class="col-md-3">
        <input  class="form-control" id="sexe" ng-model="user.sexe | sexeFilter " ng-readonly="true" >
      </div>

      <label  class="col-md-1 control-label">Prénom</label>
      <div class="col-md-3">
        <input  class="form-control" id="prenom" ng-model="user.prenom" ng-readonly="true" >
      </div>

      <label  class="col-md-1 control-label">Nom</label>
      <div class="col-md-3">
        <input  class="form-control" id="nom" ng-model="user.nom" ng-readonly="true" >
      </div>

    </div>

    <div class="row form-group">

      <label  class="col-md-1 control-label">Age</label>
      <div class="col-md-3">
        <input  class="form-control" id="age" ng-model="(user.naissance | ageFilter) + ' ans' " ng-readonly="true" >
      </div>

      <label  class="col-md-1 control-label">Né le</label>
      <div class="col-md-3">
        <input  class="form-control" id="naissance" ng-model="user.naissance | date:'dd/MM/yyyy'" ng-readonly="true" >
      </div>

      <label  class="col-md-1 control-label">Ville</label>
      <div class="col-md-3">
        <input  class="form-control" id="ville" ng-model="user.latest_reg.cities.ville_nom_reel" ng-readonly="true" >
      </div>
    </div>
    </div>
</div>

<div class="well" style="margin-top: 40px;" ng-class="{'well-error' : error.auth_coor}">
  <div class="form-horizontal">

    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class='form-group'>
          <label class="control-label col-md-4">N° Licence FFT</label>
          <div class="col-md-8">
            <input   class="form-control" id="licence"  ng-model="user.license" ng-readonly="true">
          </div>
        </div>
      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class="form-group" ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">Classement</label>
          <div class="col-md-3">
            <input   class="form-control" id="classement" ng-model="user.latest_reg.rankings.name" ng-readonly="true">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-md-2 control-label">Ancien club</label>

        <div class="col-md-6 ">
          <input   class="form-control" id="classement" ng-model="user.latest_reg.old_club" ng-readonly="true">
        </div>


      </div>
    </div>


    <div class="row form-group">
      <label  class="col-md-2 control-label">Remarques adhérent</label>

      <div class="col-md-8 ">

        <textarea class="form-control"  id="remarques" ng-model="user.latest_reg.remarque_user" name="remAff" ng-readonly="true" ng-blur="saveRem({adh: true})" rows="3"></textarea>
      </div>

    </div>
  </div>
</div>

<div class="well">
  <h4 class="text-center">COORDONNEES TELEPHONIQUES & MAILS</h4>

  <div class="row form-horizontal">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group" ng-repeat="contact in user.latest_reg.own_email">
        <label class="control-label col-md-4">Email{{$index > 0 ? " " + ($index + 1) : ""}}</label>
        <div class="col-md-8" ng-if="$index < 1">
          <input type="email" class="form-control" id="email" ng-model="contact.email" name="email" placeholder="Saisir l'email" required>
        </div>
        <div class="col-md-8" ng-if="$index >= 1">
          <div class="input-group">
            <input type="email" class="form-control" id="email{{$index + 1}}" ng-model="contact.email" name="email{{$index + 1}}" placeholder="Saisir l'email" required>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="inscriptionsForm.ownEmailContacts.splice($index,1)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </span>
          </div>
        </div>
      </div>
      <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addEmailOwnContact()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
      </button>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div ng-repeat="contact in user.latest_reg.own_tel">
        <div class="form-group">
          <label class="control-label col-md-4">Téléphone{{$index > 0 ? " " + ($index + 1) : ""}}</label>
          <div class="col-md-8" ng-if="$index < 1">
            <input type="tel" class="form-control" id="tel" ng-model="'0'+contact.tel" name="tel" placeholder="Saisir le numéro de téléphone" require >
          </div>
          <div class="col-md-8" ng-if="$index >= 1">

            <div class="input-group">
              <input type="tel" class="form-control" id="tel" ng-model="'0'+contact.tel" name="tel{{$index + 1}}" placeholder="Saisir le numéro de téléphone" required >
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" ng-click="inscriptionsForm.ownTelContacts.splice($index,1)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </span>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addTelOwnContact()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
      </button>
    </div>

  </div>
</div>

<div class="well" style="background-color:#2cbe0e">
  <h2 class="entete-well">UTILISATION DES DONNEES PERSONNELLES</h2>

  <div class="well form-horizontal" style="background-color:#4aef2a">
    <div class="form-group">

      <div class="checkbox col-md-3 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.coor_jr">
          Diffusion autres joueurs
        </label>
      </div>

      <div class="checkbox col-md-2 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.coor_p_tcu">
          Partenaires TCU
        </label>
      </div>

      <div class="checkbox col-md-2 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.coor_p_fft">
          Partenaires FFT
        </label>
      </div>

      <div class="checkbox col-md-3 control-label" >
        <label>
          <input type="checkbox" disabled ng-checked="user.latest_reg.media_autorisation">
          Utilisation photos-vidéos
        </label>
      </div>

    </div>
  </div>


</div>

<div class="text-center" ng-hide="true">
  <button type="button" class="btn btn-info btn-lg btn-block" >MODIFIER INFOS</button>
  <button type="button" class="btn btn-success btn-lg btn-block" href="#">RENOUVELLER INSCRIPTION</button>
  <button type="button" class="btn btn-warning btn-lg btn-block" href="#">MODIFIER MOT DE PASSE</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" href="#">SUPPRIMER COMPTE</button>

</div>

<div class="well" permission permission-except="['Adhérent']">
  <div class='row form-horizontal'>
    <div class="form-group">
      <label  class="col-md-4 control-label">Remarque TCU Non visible par l'adhérent</label>
      <div class="col-md-6 ">

        <textarea class="form-control"  id="remarque_tcu" ng-model="user.latest_reg.remarque" name="remAff" ng-readonly="false" ng-blur="saveRem({affectation: false})" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>


<div class="well form-horizontal" style="background-color:#f3e28c" ng-show="(user.naissance | ageFilter) < 18">

  <h2 class="entete-well"  >MEDICAL</h2>
  <div class="form-group">

    <label  class="col-md-2 control-label">Représentant légal</label>
    <div class="col-md-3">
      <input  class="form-control" id="representant" ng-model="user.latest_reg.responsable.nom" ng-readonly="true" >
    </div>


    <label  class="col-md-2 control-label">Médecin</label>
    <div class="col-md-3">
      <input  class="form-control" id="medecin" ng-model="user.latest_reg.medecin" ng-readonly="true" >
    </div>

  </div>
  <div class="form-group">
    <label  class="col-md-2 control-label">Accident : se rendre</label>
    <div class="col-md-3">
      <input  class="form-control" id="medecin" ng-model="user.latest_reg.pec" ng-readonly="true" >
    </div>




    <label  class="col-md-2 control-label">Tel. médecin</label>
    <div class="col-md-3">
      <input  class="form-control" id="prof2" ng-model="'0'+user.latest_reg.medecin_tel" ng-readonly="true" >
    </div>

  </div>


  <div class="form-group">
    <table class="table table-bordered table-hover  panel-warning ">

      <thead class="panel-heading ">
      <td>CONTACTS</td>
      <td>PARENTE</td>
      <td>TELEPHONE</td>
      </thead>
      <tbody style="background-color:#ffffff">
      <tr ng-repeat="contact in user.latest_reg.contacts">
        <td>{{contact.nom}}</td>
        <td>{{contact.lien_parente}}</td>
        <td>0{{contact.tel}}</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>


<div class="well" style="background-color:#aeccea">
  <h2 class="entete-well">INSCRIPTIONS</h2>
  <div class="form-group">
    <table class="table table-bordered table-hover  panel-primary ">

      <thead class="panel-heading  text-center">
      <td>DATE PRE-INSCRIPTION</td>
      <td>CATEGORIE</td>
      <td>GROUPE</td>
      <td>MONTANT</td>
      <td>FACTURE</td>
      </thead>
      <tr style="background-color:#ffffff" ng-repeat="reg in user.old_reg">
        <td>{{reg.created_at | amDateFormat:'Do MMMM YYYY'}}</td>
        <td>{{reg.categories.categorie}}</td>
        <td>{{reg.groupes.name}}</td>
        <td>{{reg.price|currency}}</td>
        <td><button type="button" class="btn btn-primary btn-xs" ng-click="showFacture(reg.facture_id)" ng-if="reg.facture_id != null">Editer</button></td>
      </tr>

    </table>
  </div>
</div>

<div class="well" style="background-color:#c2e2b6" ng-hide="true">
  <h2 class="entete-well" >VENTES</h2>
  <div class="form-group">
    <table class="table table-bordered panel-success  table-hover   table-striped">

      <thead class="panel-heading text-center">
      <td>DATE</td>
      <td>ARTICLES</td>
      <td>MONTANT</td>
      <td>ENCOURS</td>
      <td>SOLDE</td>
      <td>Facture</td>
      </thead>
      <tr style="background-color:#ffffff">
        <td>03/06/2015</td>
        <td>Carte été<br>casquette</td>
        <td>45 €</td>
        <td>45 €</td>
        <td>0 €</td>
        <td><button type="button" class="btn btn-success btn-xs">Editer</button></td>
      </tr>


    </table>
  </div>




</div>
