<div class="well" style="background-color:#2cbe0e">
  <h2 class="entete-well">Réductions</h2>

  <div class="well form-horizontal" style="background-color:#4aef2a">
    <!-- <div class="form-group" > -->


    <label class="radio-inline" ng-if="reduc.is_local_reduc == 0" ng-repeat="reduc in reducs">
      <input type="radio" name="reductionRadios" ng-disabled="factures != null" ng-value="reduc.id" ng-model="reducsUser[reduc.id]" ng-change="updateCheck({reduc: reducsUser[reduc.id]})">
      {{reduc.name}}
    </label>
    <label class="checkbox-inline" ng-if="reduc.is_local_reduc == 1" ng-repeat="reduc in reducs">
      <input type="checkbox" ng-value="reduc.id" ng-disabled="factures != null" ng-model="reducsUser[reduc.id]" ng-change="updateCheck({reduc: reducsUser[reduc.id], isLocal: true})">
      {{reduc.name}}
    </label>

    <!-- </div> -->

  </div>
</div>


<div class="well" style="background-color:#00b3b3">
  <h2 class="entete-well">CHECK ADMINISTRATIF</h2>

  <div class="well" style="background-color:cyan" >
    <div class="form-group row">

      <div class="checkbox-inline col-md-3 control-label" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="user.latest_reg.reglts_recus" ng-change="updateCheck({regl: user.latest_reg.reglts_recus})">
          Règlements reçus

        </label>
      </div>
      <div class="checkbox-inline col-md-2 control-label" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="user.latest_reg.certificatmedical" ng-change="updateCheck({cm: user.latest_reg.certificatmedical})">
          Certificat médical

        </label>
      </div>
      <div class="checkbox-inline col-md-2 control-label" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="user.latest_reg.ballejaune" ng-change="updateCheck({bj: user.latest_reg.ballejaune})">
          Balle Jaune

        </label>
      </div>
      <div class="checkbox-inline col-md-2 control-label" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="user.latest_reg.google" ng-change="updateCheck({google: user.latest_reg.google})">
          Fiche google

        </label>
      </div>
      <div class="checkbox-inline col-md-2 control-label" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="user.latest_reg.lic_demandee" ng-change="updateCheck({licenceCheck: user.latest_reg.lic_demandee})">
          Licence FFT

        </label>
      </div>
    </div>
    <div class="well row form-horizontal" style="background-color:#00cccc">
      <div class="form-group">

        <label  class="col-md-3 control-label">Date de préinscription web</label>
        <div class="col-md-2">
          <input  class="form-control" id="cat_choisie" ng-model="created_at | amDateFormat:'Do MMMM YYYY'" ng-readonly="true" >
        </div>

        <label  class="col-md-3 control-label">Date réception/dépôt</label>
        <div class="col-md-3">
          <datepicker  date-format="dd-MM-yyyy" ng-if="user.latest_reg.dossierdepose == 0">
            <input class="form-control" ng-model="user.latest_reg.date_depot"  name="naissance" type="text" ng-disabled="user.latest_reg.dossierdepose == 1" ng-change="getDateDepot(user.latest_reg.date_depot)"  placeholder="Date de dépôt dossier"/>
          </datepicker>
          <input  class="form-control" id="cat_choisie" ng-model="user.latest_reg.date_depot | amDateFormat:'Do MMMM YYYY'" ng-readonly="true" ng-if="user.latest_reg.dossierdepose == 1" >
        </div>
        <div>
          <button type="button" class="btn btn-primary" ng-click="depotDossier()" ng-if="user.latest_reg.dossierdepose == 0">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          </button>
        </div>


      </div>

    </div>

  </div>
</div>


<button type='button' class='btn btn-lg btn-warning btn-block btn-default' ng-hide="showRatach || factures != null" ng-click="createFamily()">Rattacher</button>

<div class="well" ng-show="showRatach" style="background-color:#FECB31">
  <h2 class="entete-well">Facturation rattachée</h2>

  <div class='row '>

    <table class="table table-bordered table-hover  panel-warning ">

      <thead class="panel-heading ">
      <td>Nom</td>
      <td>Prenom</td>
      <td>Categorie</td>
      <td>Prix</td>
      <td>Fiche</td>
      <td ng-if="user.latest_reg.facture_id == null">Supprimer</td>
      </thead>
      <tbody style="background-color:#ffffff">
      <tr ng-repeat="m in familyMembers">
        <td>{{m.nom}}</td>
        <td>{{m.prenom}}</td>
        <td>{{m.latest_reg.categories.categorie}}</td>
        <td>{{m.latest_reg.price|currency}}</td>
        <td class="text-center"><button type="button" class="btn btn-success btn-xs" ui-sref="app.index.adherent({userId: m.id})">Accès</button></td>
        <td ng-if="user.latest_reg.facture_id == null">
          <button class="btn btn-danger" type="button"  ng-click="removeFromFamily($index, m.latest_reg.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>



  </div>
  <div class='row' ng-if="user.latest_reg.facture_id == null">
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 '>


      <angucomplete-alt id="members"
                        placeholder="Commencer à saisir et choisissez"
                        pause="400"
                        selected-object="addMemberInFamily"
                        remote-url="{{membersUrl}}"
                        title-field="prenom,nom"
                        text-searching="Recherche"
                        text-no-results="Pas de résultat"
                        input-class="form-control"
                        clear-selected="true"/>


    </div>
  </div>
</div>
