<div class="well" style="background-color:#2cbe0e">
  <h2 class="entete-well">Attribution des rôles</h2>

  <div class="well" style="background-color:#4aef2a">
    <div class="form-group text-center">

      <label class="checkbox-inline">
        <input type="checkbox" ng-value="2" ng-model="roleUser[2]" ng-change="updateRole({role: roleUser[2], roleId: 2})">
        Admin
      </label>

      <label class="checkbox-inline">
        <input type="checkbox" ng-value="5" ng-model="roleUser[5]" ng-change="updateRole({role: roleUser[5], roleId: 5})">
        Trésorier
      </label>

      <label class="checkbox-inline">
        <input type="checkbox" ng-value="4" ng-model="roleUser[4]" ng-change="updateRole({role: roleUser[4], roleId: 4})">
        Prof
      </label>

      <label class="checkbox-inline">
        <input type="checkbox" ng-value="3" ng-model="roleUser[3]" ng-change="updateRole({role: roleUser[3], roleId: 3})">
        Permanent
      </label>

      <label class="checkbox-inline">
        <input type="checkbox" ng-value="6" ng-model="roleUser[6]" ng-change="updateRole({role: roleUser[6], roleId: 6})">
        Moniteur
      </label>

      <label class="checkbox-inline">
        <input type="checkbox" ng-value="1" ng-model="roleUser[1]" ng-change="updateRole({role: roleUser[1], roleId: 1})">
        Adhérent
      </label>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-danger btn-block" ng-click="deleteUser()">Supprimer l'adhérent</button>
    </div>
  </div>


</div>
