<div class="well">
    <h3 class="text-center text-uppercase text-info">Ajouter un compte</h3>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="alert alert-danger text-center" ng-if="error">
                {{error}}
            </div>
            <form class="form-horizontal">
                <div class="row">

                    <div class='col-md-6 col-xs-12'>

                        <div class="form-group">
                            <label for="designation" class="control-label col-md-4">Numéro de compte</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="designation" name="designation" ng-model="account.numero" placeholder="Saisir le numéro" required>
                            </div>
                        </div>

                    </div>

                    <div class='col-md-6 col-xs-12'>

                        <div class='form-group'>
                            <label for="titre" class="control-label col-md-4">Libélé de compte</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="titre" id="titre" ng-model="account.titre" required>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-2">
                        <button type="submit" ng-click="submit()" class="btn btn-block btn-info">Sauvegarder</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="well">
    <h3 class="text-center text-uppercase text-info">Rechercher</h3>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
        </div>
    </div>
</div>

<div class="well">
    <h3 class="text-center text-uppercase text-info">GERER {{accounts.length}} COMPTES</h3>
    <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
        <td>Numéro</td>
        <td>Titre</td>
        <td>Supprimer</td>
        </thead>
        <tr ng-repeat="account in accounts | filter:searchText">
            <td>{{account.Numero}}</td>
            <td>{{account.Titre}}</td>

            <td class="text-center"><button type="button" class="btn btn-danger btn-xs" ng-if="account.lock == 0" ng-click="remove(account.id)">Supprimer</button></td>

        </tr>
    </table>
</div>
