<div class="well">
  <div class="row">
  <h3 class="text-center text-uppercase text-info">Rechercher adhésion</h3>
    <div class="col-md-12 ">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well">
  <h3 class="text-center text-uppercase text-info">Liste des {{registrations.length}} adhésions</h3>



      <table class="table table-bordered table-hover  panel-primary">

        <thead class="panel-heading  text-center">

          <td>Date
                   </td>


          <td>Prénom

          </td>

          <td>Nom

          </td>





         <!-- <td>Souhait cat</td>-->
         <!--   <td>Souhait jour</td> -->
          <td>Catégorie</td>
          <td>Groupe</td>
          <td>Crénaux</td>



          <td>Statut adhésion</td>
          <td>Fiche adhérent</td>
        </thead>

    <tbody>
      <tr ng-repeat="registration in registrations | filter:searchText | orderBy:propertyName:reverse">
          <td>{{registration.latest_reg.created_at | amDateFormat:'Do MMMM YYYY'}}</td>
          <td>{{registration.prenom}}</td>
          <td>{{registration.nom | uppercase}}</td>



       <!--    <td>{{registration.latest_reg.categories_pref.categorie}}</td> -->
        <!--   <td>{{registration.latest_reg.days_pref.name}}</td> -->
          <td>{{registration.latest_reg.categories.categorie}}</td>
          <td>{{registration.latest_reg.groupes.name}}</td>
          <td>
            <ul style="list-style: none;">
              <li ng-repeat="c in registration.latest_reg.days">{{c.name}}</li>
            </ul>
          </td>

           <td>{{registration.latest_reg.statuses.name}}</td>

          <td class="text-center"><button type="button" class="btn btn-success btn-xs" ui-sref="app.index.adherent({userId: registration.id})">Fiche</button></td>
        </tr>
        </tbody>

      </table>
    </div>
</div>
