<div class="well">
<h3 class="text-center text-uppercase text-info">Rechercher un adhérent</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well">
  <h3 class="text-center text-uppercase text-info">Liste des {{users.length}} adhérents</h3>
      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
          <td>Sexe</td>
          <td>Nom</td>
          <td>Prenom</td>
          <td>Age</td>
          <td>Catégorie</td>
          <td>Groupe</td>
          <td>Jour</td>
          <td>Début</td>
          <td>Fin</td>
          <td>Fiche</td>
        </thead>
        <tr ng-repeat="user in users | filter:searchText">
          <td>{{user.sexe | sexeFilter}}</td>
          <td>{{user.nom}}</td>
          <td>{{user.prenom}}</td>
          <td>{{user.naissance | ageFilter }} ans</td>
          <td>{{user.latest_reg.categories.categorie}}</td>
          <td>{{user.latest_reg.groupes.name}}</td>
          <td>{{user.latest_reg.days.name}}</td>
          <td>{{user.latest_reg.h_debut}}</td>
          <td>{{user.latest_reg.h_fin}}</td>
          <td class="text-center"><button type="button" class="btn btn-success btn-xs" ui-sref="app.index.adherent({userId: user.id})">Accès</button></td>
        </tr>
      </table>
</div>
