<div class="well">
  <h3 class="text-center text-uppercase text-info">Ajouter un article</h3>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <form class="form-horizontal">
        <div class="row">

          <div class='col-md-6 col-xs-12'>

            <div class="form-group">
              <label for="designation" class="control-label col-md-4">Désignation</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="designation" name="designation" ng-model="article.designation" placeholder="Saisir la désignation" required>
              </div>
            </div>

          </div>

          <div class='col-md-6 col-xs-12'>

            <div class='form-group'>
              <label for="price" class="control-label col-md-4">Prix</label>
              <div class="col-md-8">
                <div class="input-group">
                  <input type="number" step="0.01" class="form-control" name="price" id="price" ng-model="article.price" required>
                  <span class="input-group-addon">€</span>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="remarques" class="col-md-4 control-label">Remarques</label>

              <div class="col-md-8">
                <textarea class="form-control"  id="remarques" ng-model="article.remarque" name="remarques" ng-readonly="false" rows="3"></textarea>
              </div>


            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="categorie" class="col-md-4 control-label">Catégorie</label>
              <div class="col-md-8">
                <input list="sorts" type="text" id="categorie" class="form-control" ng-model="article.sorts">
                <datalist id="sorts">
                  <option ng-value="sort.name" ng-repeat="sort in sorts">
                </datalist>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class='col-md-6 col-xs-12'>
            <div class='form-group'>
              <label for="dateD" class="control-label col-md-4">Date de début</label>
              <div class="col-md-8">
                <datepicker date-set="{{today}}" date-format="dd-MM-yyyy" >
                  <input class="form-control" ng-model="article.dateD" id="dateD" name="dateD" type="text" placeholder="cliquez pour utiliser le calendrier"/>
                </datepicker>
              </div>
            </div>
          </div>
          <div class='col-md-6 col-xs-12'>
            <div class='form-group'>
              <label for="dateF" class="control-label col-md-4">Date de fin</label>
              <div class="col-md-8">
                <datepicker  date-format="dd-MM-yyyy" >
                  <input class="form-control" ng-model="article.dateF" id="dateF" name="dateF" type="text" placeholder="cliquez pour utiliser le calendrier"/>
                </datepicker>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-2">
            <button type="submit" ng-click="submit()" class="btn btn-block btn-info">Sauvegarder</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>


<div class="well">
  <h3 class="text-center text-uppercase text-info">Rechercher</h3>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
      </div>
    </div>
</div>

<div class="well">
  <h3 class="text-center text-uppercase text-info">GERER {{articles.length}} ARTICLES</h3>
      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
          <td>Désignation</td>
          <td>remarque</td>
          <td>prix</td>
          <td>catégorie</td>
          <td>Date début</td>
          <td>Date fin</td>
          <td>Modif. tarif</td>
          <td>Supprimer</td>
        </thead>
        <tr ng-repeat="article in articles | filter:searchText">
          <td ng-if="!EditLine[$index]">{{article.designation}}</td><td ng-if="EditLine[$index]"><input type="text" class="form-control" id="newDes" name="newDes" ng-model="articleUp[$index].newDes" placeholder="Désignation" required></td>
          <td ng-if="!EditLine[$index]">{{article.remarque}}</td><td ng-if="EditLine[$index]"><input type="text" class="form-control" id="newRem" name="newRem" ng-model="articleUp[$index].newRem" placeholder="Remarque" required></td>
          <td ng-if="!EditLine[$index]">{{article.price}}</td><td ng-if="EditLine[$index]"><input type="text" class="form-control" id="newP" name="newP" ng-model="articleUp[$index].newP" placeholder="prix" required></td>
          <td>{{article.sorts.name}}</td>
          <td>{{article.date_debut | date:'dd/MM/yyyy'}}</td>
          <td>{{article.date_fin | date:'dd/MM/yyyy'}}</td>

          
          <td class="text-center">
            <div ng-if="EditLine[$index]">
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="cancelEdit($index)">Annuler</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-warning btn-xs btn-block" ng-click="saveEdit(article.id, $index)">Valider</button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-warning btn-xs" ng-if="!EditLine[$index]" ng-click="edit($index)">Modifier</button>
          </td>
           <td class="text-center"><button type="button" class="btn btn-danger btn-xs" ng-click="remove(article.id)">Supprimer</button></td>
         
          
          
        </tr>
      </table>
</div>
