<h3 class="text-center text-uppercase text-info">Veuillez vous identifier</h3>
<h5 class="text-center text-info">(Identifiant et mot de passe)</h5>

<div class="col-md-4 col-md-offset-4">
  <div class="alert alert-danger text-center" ng-if="loginError">
    Identifiants erroné
  </div>
  <form class="form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Votre pseudo" ng-model="pseudo">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Votre mot de passe" ng-model="password">
    </div>
    <button class="btn btn-block btn-primary" ng-click="login(pseudo, password)">Connexion</button>
    <div class="col-xs-12 text-center">
      <a class="text-primary" style="cursor: pointer" ui-sref="app.forgetPwd">Mot de passe oublié</a>
    </div>
  </form>
</div>
