<div class="well" style="background-color:#aeccea">
<h3 class="text-center text-uppercase text-info">Rechercher dépenses</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well" style="background-color:#aeccea">
  <h3 class="text-center text-uppercase text-info">Liste des {{nombredepenses}} dépenses</h3>
      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
          <td>Date</td>
          <td>N° facture</td>
          <td>Libellé</td>
          <td>Fournisseur</td>
          <td>Montant</td>
          <td>Mode reglt.</td>
          <td>Commentaire</td>
        </thead>
      <tr ng-repeat="depense in depenses | filter:searchText" style="background-color:#ffffff">
          <td>{{depense.date | date:'dd/MM/yyyy'}}</td>
          <td>{{depense.num_facture}}</td>
          <td>{{depense.libelle}}</td>
          <td>{{depense.fournisseur}}</td>
          <td>{{depense.montant}} €</td>
          <td>{{depense.methods.name}}</td>
          <td>{{depense.remarque}}</td>
        </tr>
      </table>
    
</div>
<div class="well col-md-4 col-md-offset-4" style="background-color:#aeccea">
<form class="form form-vertical" name="periodereglementsForm">
  
      <div class="form-group">
     
        <label class="control-label ">Filtre début</label>
      
     
        <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="filtre.date_d"  name="debut" type="text" placeholder="Cliquez pour choisir date de début"/>
        </datepicker>
      </div>

       <div class="form-group">
      <label class="control-label">Filtre fin</label>
      
      
        <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="filtre.date_f"  name="fin" type="text" placeholder="Cliquez pour choisir date de fin"/>
        </datepicker>
      </div>
     <div class="form-group text-center">
      
      <button type="submit"  class=" control-label btn btn-primary " ng-click="makeFiltre(0)">
      Afficher
      </button>
       <button type="submit"  class=" control-label btn btn-danger " ng-click="makeFiltre(1)">
      Edition PDF
      </button>
      </div>
     
 </form>
</div>
