

<ul class="nav nav-tabs">
    <li role="presentation" ui-sref="app.index.depotbanque.new" ui-sref-active="active"><a>Nouveau dépot</a></li>
    <li role="presentation" ui-sref="app.index.depotbanque.historique" ui-sref-active="active"><a>Historique des dépôts</a></li>
</ul>
<div ui-view="page"></div>