

<div class="well" style="background-color:#aeccea">

  <div class="row">
   <label class="control-label col-md-1 col-md-offset-3">Rechercher</label>

    <div class="col-md-4">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Pour le mois ex : 06 pour juin...">
    </div>
  </div>
</div>




<div class="well" style="background-color:#aeccea">
<h4 class="text-center text-uppercase text-info"> {{reglements.length}} règlements encaissés au total</h4>

      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
          <td>Date encaissement</td>
          <td>Mode reglt.</td>
           <td>Infos reglt.</td>
          <td>Montant</td>
          <td>N° facture</td>
          <td>Date échéance</td>
          <td>Membre</td>
          <td>Facture</td>
        </thead>
      <tr ng-repeat="reglement in reglements | filter:searchText" style="background-color:#ffffff">
      <td>{{reglement.date_encaissement | amDateFormat:'Do MMM YYYY'}}</td>
      <td>{{reglement.methods.name}}</td>
      <td>{{reglement.remarque}}</td>
      <td>{{reglement.amount | currency}}</td>
      <td>{{reglement.factures.numero}}</td>
      <td>{{reglement.date_echeance | amDateFormat:'Do MMM YYYY'}}</td>
      <td>
          <div class="row" style="margin-bottom: 5px;" ng-if="reglement.factures.registrations" ng-repeat="reg in reglement.factures.registrations">
              <div class="col-sm-12">
                  <button type="button" class="btn btn-info btn-xs" ui-sref="app.index.adherent({userId: reg.users.id})">
                      {{reg.users.prenom}} {{reg.users.nom}}
                  </button>
              </div>
          </div>
          <div class="row" style="margin-bottom: 5px;" ng-if="reglement.factures.ventes" ng-repeat="reg in reglement.factures.ventes">
            <div class="col-sm-12">
                  <button type="button" class="btn btn-info btn-xs" ui-sref="app.index.adherent({userId: reg.users.id})">
                      {{reg.users.prenom}} {{reg.users.nom}}
                  </button>
              </div>
          </div>
      </td>
       <td class="text-center"><button type="button" class="btn btn-success btn-xs" ng-click="showFacture(reglement.facture_id)" >Editer</button></td>
        </tr>
      </table>
</div>

<div class="well col-md-4 col-md-offset-4" style="background-color:#aeccea">
    <form class="form form-vertical" name="periodereglementsForm">

        <div class="form-group">

            <label class="control-label ">Filtre début</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_d"  name="debut" type="text" placeholder="Cliquez pour choisir date de début"/>
            </datepicker>
        </div>

        <div class="form-group">
            <label class="control-label">Filtre fin</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_f"  name="fin" type="text" placeholder="Cliquez pour choisir date de fin"/>
            </datepicker>
        </div>
        <div class="form-group text-center">

            <button type="submit"  class=" control-label btn btn-primary " ng-click="makeFiltre(0)">
                Afficher
            </button>
            <button type="submit"  class=" control-label btn btn-danger " ng-click="makeFiltre(1)">
                Edition PDF
            </button>
        </div>

    </form>
</div>


