<h1 class="text-center text-uppercase text-info">{{user.prenom}} {{user.nom}} Modification</h1>

<form>
<div class="well">
  <h4 class="text-center">COORDONNEES TELEPHONIQUES & MAILS</h4>

  <div class="row form-horizontal">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group" ng-repeat="contact in inscriptionsForm.ownEmailContacts" show-errors ng-class="{'has-error' : error.email}">
        <label class="control-label col-md-4">Email{{$index > 0 ? " " + ($index + 1) : ""}}</label>
        <div class="col-md-8" ng-if="$index < 1">
          <input type="email" class="form-control" id="email" ng-model="contact.email" ng-blur="changeErrorState('email')" name="email" placeholder="Saisir l'email" required>
        </div>
        <div class="col-md-8" ng-if="$index >= 1">
          <div class="input-group">
            <input type="email" class="form-control" id="email{{$index + 1}}" ng-model="contact.email" name="email{{$index + 1}}" placeholder="Saisir l'email" required>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="inscriptionsForm.ownEmailContacts.splice($index,1)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </span>
          </div>
        </div>
      </div>
      <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addEmailOwnContact()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter Email (conjoint,parent...)
      </button>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

      <div ng-repeat="contact in inscriptionsForm.ownTelContacts">
        <div class="form-group" show-errors ng-class="{'has-error' : error.tel}">
          <label class="control-label col-md-4">Téléphone{{$index > 0 ? " " + ($index + 1) : ""}}</label>
          <div class="col-md-8" ng-if="$index < 1">
            <input type="text" class="form-control" id="tel" ng-model="contact.tel" ng-blur="changeErrorState('tel')" name="tel" placeholder="Saisir le numéro de téléphone" require >
          </div>
          <div class="col-md-8" ng-if="$index >= 1">
            <div class="input-group">
              <input type="text" class="form-control" id="tel{{$index + 1}}" ng-model="contact.tel" name="tel{{$index + 1}}" placeholder="Saisir le numéro de téléphone" required >
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" ng-click="removeTel($index)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </span>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addTelOwnContact()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter téléphone
      </button>
    </div>
  </div>
</div>
  <div class='well form-horizontal'>
    <h3 class="text-center">Informations sportives</h3>

    <div class="row">

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class='form-group' show-errors ng-class="{'has-error' : error.naissance}">
          <label class="control-label col-md-4">N° Licence FFT</label>
          <div class="col-md-8">
            <input ng-model="inscriptionsForm.license" class="form-control" id="licence"  >
          </div>
        </div>
      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class="form-group" show-errors ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">Classement<br></label>
          <div class="col-md-8">
            <select class=" form-control" ng-model="inscriptionsForm.ranking" >
              <option ng-value=""></option>
              <option  ng-repeat="r in rang" value="{{r.id}}">{{r.name}}</option>
            </select>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class='form-group' show-errors>
          <label class="control-label col-md-4">Ancien club</label>
          <div class="col-md-8">
            <input ng-model="inscriptionsForm.oldClub" class="form-control" id="old_club"  >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="well" ng-if="user.id == currentUser.id">
    <div class="row form-horizontal">
      <h3 class="text-center">Mot de passe</h3>
      <div class="row">
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
          <div class='form-group' show-errors>
            <label class="control-label col-md-4">Mot de passe actuel</label>
            <div class="col-md-8">
              <input type="password" ng-model="inscriptionsForm.actPwd" class="form-control" id="actPwd"  >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
          <div class='form-group' show-errors>
            <label class="control-label col-md-4">Nouveau mot de passe</label>
            <div class="col-md-8">
              <input type="password" ng-model="inscriptionsForm.nPwd" class="form-control" id="nPwd"  >
            </div>
          </div>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
          <div class='form-group' show-errors>
            <label class="control-label col-md-4">Confirmation mot de passe</label>
            <div class="col-md-8">
              <input type="password" ng-model="inscriptionsForm.cnPwd" class="form-control" id="cnPwd"  >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn col-md-6 btn-danger"  ui-sref="app.index.adherent({userId: user.id})">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Annuler
  </button>
  <button type="button" class="btn col-md-6 btn-success" ng-click="submit()">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Valider les changements
</button>
</form>
