<h3 class="text-center text-uppercase text-info">Mot de passe oublié</h3>
<!--<h5 class="text-center text-info">(Identifiant et mot de passe)</h5>-->

<div class="col-md-4 col-md-offset-4">
    <div class="alert alert-danger text-center" ng-if="error">
        {{error}}
    </div>
    <form class="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Votre prénom" ng-model="form.prenom">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Votre nom" ng-model="form.nom">
        </div>
        <!--<div class="form-group">-->
            <!--<div class="col-md-12">-->
                <datepicker class="form-group" date-format="dd-MM-yyyy">
                    <input class="form-control" ng-model="form.date"  name="date" type="text"
                           placeholder="Date de naissance"/>
                </datepicker>
            <!--</div>    -->
        <!--</div>-->
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Votre mot de passe" ng-model="form.password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirmer votre mot de passe" ng-model="form.confirmPassword">
        </div>
        <button class="btn btn-block btn-primary" ng-click="changePassword()">Changer le mot de passe</button>
    </form>
</div>