<div class="well">
<h3 class="text-center text-uppercase text-info">Rechercher un adhérent</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well">
  <h3 class="text-center text-uppercase text-info">ATTRIBUTION ROLES</h3>
      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
          <td>Sexe</td>
          <td>Nom</td>
          <td>Prenom</td>
          <td>Rôle actuel</td>
          <td>Modifier Rôle</td>
          <td>Archiver</td>
        </thead>
        <tr ng-repeat="user in users | filter:searchText">
          <td>{{user.sexe | sexeFilter}}</td>
          <td>{{user.nom}}</td>
          <td>{{user.prenom}}</td>
          
          <td class="text-center"><button type="button" class="btn btn-success btn-xs" ui-sref="adherent({userId: user.id})">Accès</button></td>
          <td>
          <form name="roles">
              <select class=" form-control" ng-model="inscriptionsForm.pec" ng-value="role.id">
          <option value="2">Administrateur</option>
          <option value="5">Trésorier</option>
          <option value="4">Prof de tennis</option>
           <option value="6">Moniteur</option>
          <option value="3">Permanent</option>
         

          
        </select>
        </form>
          </td>
          <td class="text-center"><button type="button" class="btn btn-danger btn-xs" ui-sref="adherent({userId: user.id})">Archiver</button>
          </td>
          
          
        </tr>
      </table>
</div>
