<div class="well" style="background-color:#aeccea">
<h3 class="text-center text-uppercase text-info">Rechercher</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well" style="background-color:#aeccea">
  <h3 class="text-center text-uppercase text-info">GRAND LIVRE</h3>
      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
            <td>#</td>
          <td>Date</td>
          <td>Recettes</td>
          <td>Dépenses</td>
          <!--<td>Solde jour</td>-->
         
         
          <!--<td>Détails</td>-->
         
        </thead>
        <tbody>
      <tr ng-repeat="ecriture in ecritures | filter:searchText | orderBy:'date'" style="background-color:#ffffff">
          <td class="text-center">{{$index + 1}}</td>
          <td>{{ecriture.date_encaissement ? ecriture.date_encaissement : ecriture.date | date:'dd/MM/yyyy'}}</td>
          <td>{{ecriture.date_encaissement ? ecriture.amount : ""}}</td>
          <td>{{ecriture.date_encaissement ? "" : ecriture.montant}}</td>
          <!--<td>{{ecriture.solde}}</td>-->
          <!--<td class="text-center"><button type="button" class="btn btn-success btn-xs" ui-sref="detailsjour({jour: ecriture.date})">Voir</button></td>-->
          
          
        </tr>
        </tbody>
      </table>
    
</div>
<div class="well col-md-4 col-md-offset-4" style="background-color:#aeccea">
    <form class="form form-vertical" name="periodereglementsForm">

        <div class="form-group">

            <label class="control-label ">Filtre début</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_d"  name="debut" type="text" placeholder="Cliquez pour choisir date de début"/>
            </datepicker>
        </div>

        <div class="form-group">
            <label class="control-label">Filtre fin</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_f"  name="fin" type="text" placeholder="Cliquez pour choisir date de fin"/>
            </datepicker>
        </div>
        <div class="form-group text-center">

            <button type="submit"  class=" control-label btn btn-primary " ng-click="makeFiltre()">
                Afficher
            </button>
            <button type="submit"  class=" control-label btn btn-danger " ng-click="addBanque()">
                Edition PDF
            </button>
        </div>

    </form>
</div>
