<div class="well" style="background-color:#5BC0DE">
    <h4 class="text-center text-uppercase text-info"> {{depots.length}} dépôts</h4>

    <table class="table table-bordered table-hover  panel-primary table-striped text-center">

        <thead class="panel-heading ">
        <td class="hidden-sm hidden-xs">Date du dépôt</td>
        <td>Remarque</td>
        <td>Chèques</td>
        <td>Espèce</td>
        <td>Montant total</td>
        </thead>
        <tr ng-repeat="regnd in depots | filter:searchText" style="background-color:#ffffff" >
            <td class="hidden-sm hidden-xs">{{regnd.date_depot | amDateFormat:'Do MMM YYYY'}}</td>
            <td>{{regnd.remarque}}</td>
            <td>
                <p ng-if="regnd.payements.length">{{regnd.payements.length}} chèques pour un total de {{getTotalCheque(regnd) | currency}}</p>
                <p ng-if="!regnd.payements.length">Aucun chèque.</p>
                <ul ng-if="regnd.payements.length">
                    <li ng-repeat="c in regnd.payements">{{c.remarque}} {{c.amount | currency}}</li>
                </ul>
            </td>
            <td>{{regnd.espece ? regnd.espece : 0 | currency}}</td>
            <td>{{getTotal(regnd) | currency}}</td>
        </tr>

        <tr>
            <td colspan='10'>
                <input class="form-control" type="text" ng-model="searchText" placeholder=" Trier et rechercher ici !">
            </td>
        </tr>

    </table>

</div>
<div class="well col-md-4 col-md-offset-4" style="background-color:#aeccea">
    <form class="form form-vertical" name="periodereglementsForm">

        <div class="form-group">

            <label class="control-label ">Filtre début</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_d"  name="debut" type="text" placeholder="Cliquez pour choisir date de début"/>
            </datepicker>
        </div>

        <div class="form-group">
            <label class="control-label">Filtre fin</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_f"  name="fin" type="text" placeholder="Cliquez pour choisir date de fin"/>
            </datepicker>
        </div>
        <div class="form-group text-center">

            <button type="submit"  class=" control-label btn btn-primary " ng-click="makeFiltre()">
                Afficher
            </button>
            <button type="submit"  class=" control-label btn btn-danger " ng-click="addBanque()">
                Edition PDF
            </button>
        </div>

    </form>
</div>