

<h1 class="text-center text-uppercase text-info">PRE-INSCRIPTION AU TENNIS CLUB DE L'UNION</h1>


<form class="form-horizontal" name="inscriptions">



  <div class="well">
    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>

        <div class="form-group" ng-class="{'has-error' : error.sexe}" >
          <label class="control-label col-md-4">Sexe</label>
          <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="sexe" id="inlineRadio1" ng-change="changeErrorState('sexe')" ng-model="inscriptionsForm.sexe" value="f" required> Féminin
            </label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="sexe" id="inlineRadio2" ng-change="changeErrorState('sexe')" ng-model="inscriptionsForm.sexe" value="h" required> Masculin
            </label>
          </div>
        </div>

      </div>

    </div>
    <div class='row'>

    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>

        <div class="form-group" show-errors ng-class="{'has-error' : error.nom}">
          <label class="control-label col-md-4">Nom</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="nom" ng-blur="changeErrorState('nom')" name="nom" ng-model="inscriptionsForm.nom" placeholder="Saisir le nom" required>
          </div>
        </div>

      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>

        <div class='form-group' show-errors ng-class="{'has-error' : error.prenom}">
          <label class="control-label col-md-4">Prénom</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="prenom" id="prenom" ng-blur="changeErrorState('prenom')" ng-model="inscriptionsForm.prenom" placeholder="Saisir le prénom" required>
          </div>
        </div>

      </div>

      

    </div>



    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class='form-group' show-errors ng-class="{'has-error' : error.naissance}">
          <label class="control-label col-md-4">Date de naissance<br>Exemple:09-08-1973</label>
          <div class="col-md-8">
<!--
            <input rsmdatedropdowns ng-model="date"  ng-blur="changeErrorState('naissance')" ng-change="getAge(date)">
-->
            <datepicker  date-format="dd-MM-yyyy" date-max-limit="{{threeYearsAgo}}">
              <input class="form-control" ng-model="date"  name="naissance" type="text" ng-blur="changeErrorState('naissance')" ng-change="getAge(date)" placeholder=" ou cliquez pour utiliser calendrier"/>
            </datepicker>
          </div>
        </div>
      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class="form-group" show-errors ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">1) Saisir code postal</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="cp" id="cp" ng-blur="codePostal(cp)" ng-model="cp" placeholder="Saisir le code postal" required>
          </div>
        </div>
      </div>

    </div>

    <div class='row'>



      <div class='col-lg-6 col-md-6 col-md-offset-6 col-sm-12 col-xs-12 '>
        <div class="form-group" show-errors ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">2) Puis choisissez la ville</label>
          <div class="col-md-8">
            <select name="repeatSelectCities" class="form-control" id="repeatSelect" ng-model="ville" ng-change="getVille(ville)">
              <option ng-repeat="city in cities" ng-value="city.id">{{city.ville_nom_reel}}</option>
            </select>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group" ng-repeat="contact in inscriptionsForm.ownEmailContacts" show-errors ng-class="{'has-error' : error.email}">
          <label class="control-label col-md-4">Email{{$index > 0 ? " " + ($index + 1) : ""}}</label>
          <div class="col-md-8" ng-if="$index < 1">
            <input type="email" class="form-control" id="email" ng-model="contact.email" ng-blur="changeErrorState('email')" name="email" placeholder="Saisir l'email" required>
          </div>
          <div class="col-md-8" ng-if="$index >= 1">
            <div class="input-group">
              <input type="email" class="form-control" id="email{{$index + 1}}" ng-model="contact.email" name="email{{$index + 1}}" placeholder="Saisir l'email" required>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="inscriptionsForm.ownEmailContacts.splice($index,1)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addEmailOwnContact()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter Email (conjoint,parent...)
        </button>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div ng-repeat="contact in inscriptionsForm.ownTelContacts">
          <div class="form-group" show-errors ng-class="{'has-error' : error.tel}">
            <label class="control-label col-md-4">Téléphone<br>(sans espaces, ni points){{$index > 0 ? " " + ($index + 1) : ""}}</label>
            <div class="col-md-8" ng-if="$index < 1">
              <input type="tel" class="form-control" id="tel" ng-model="contact.tel" ng-blur="changeErrorState('tel')" name="tel" placeholder="Saisir le numéro de téléphone" require >
            </div>
            <div class="col-md-8" ng-if="$index >= 1">
              <div class="input-group">
                <input type="tel" class="form-control" id="tel" ng-model="contact.tel" name="tel{{$index + 1}}" placeholder="Saisir le numéro de téléphone" required >
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" ng-click="inscriptionsForm.ownTelContacts.splice($index,1)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addTelOwnContact()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter téléphone
        </button>
      </div>

    </div>



      <div class="well" style="margin-top: 40px;" ng-class="{'well-error' : error.auth_coor}">
        <div class='row'>
      <h3>Informations sportives</h3>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class='form-group' show-errors ng-class="{'has-error' : error.naissance}">
          <label class="control-label col-md-4">N° Licence FFT<br>(Si connu)</label>
          <div class="col-md-8">
           <input ng-model="inscriptionsForm.license" class="form-control" id="licence"  >
          </div>
        </div>
      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class="form-group" show-errors ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">Classement<br></label>
          <div class="col-md-6">
          <select class=" form-control" ng-model="inscriptionsForm.ranking" >
          <option ng-value=""></option>
          <option  ng-repeat="r in rang" ng-value="r.id">{{r.name}}</option>
        </select>

        </div>
      </div>
    </div>

          </div>
        <div class="row">
          <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
            <div class='form-group' show-errors >
              <label class="control-label col-md-4">Ancien club<br>(Si connu)</label>
              <div class="col-md-8">
                <input ng-model="inscriptionsForm.oldClub" class="form-control" id="old-club"  >
              </div>
            </div>
          </div>
        </div>
        <div class="row">


          <div class="form-group">
          <label  class="col-md-2 control-label">Remarques éventuelles<br>concernant votre adhésion</label>

           <div class="col-md-6 ">

                      <textarea class="form-control"  id="remarques" ng-model="inscriptionsForm.remarque" name="remAff" ng-readonly="false" ng-blur="saveRem({affectation: true})" rows="3"></textarea>
            </div>


          </div>

    </div>

    <div class="well" style="background-color:#c2e2b6" ng-if="categories.length" ng-class="{'well-error' : error.categorie}">
    <h3 class="text-center">Sélectionnez votre formule pour la saison 2016-2017<br>(sous réserve de validation par l'équipe enseignante pour les formules avec cours)</h3>
    <p class="text-left" ng-if="categories.length == 0">Veuillez compléter le formulaire, en choisissant une option.<br>
    Votre demande sera transmise à l’équipe administrative pour vérification et affectation.
    </p>
    <div class="radio" ng-repeat="cat in categories">
      <label>
        <input type="radio" name="categorie" ng-model="inscriptionsForm.categorie" ng-change="changeErrorState(categorie)" ng-value="cat">
        <b>{{cat.categorie}} - {{cat.tarif_unique ? cat.price - inscriptionsForm.reduction.amount : cat.price - inscriptionsForm.reduction.amount - isLocalReduc | currency}}</b><br>{{cat.conditions}}
      </label>
    </div>
    <div ng-show="inscriptionsForm.categorie.days.length">
      <br><br><b>veuillez choisir un(des) jour(s) de préférence.</b>
      <br>Sachez que votre demande sera transmise parallèlement à l’équipe pédagogique afin de réaliser une pré-affectation sur un ou plusieurs créneaux horaires (en fonction de la formule choisie et de vos préférences).
      <div class="radio" ng-repeat="day in inscriptionsForm.categorie.days">
        <label>
          <input type="radio" name="day" ng-value="day" ng-model="inscriptionsForm.day">
          {{day.name}}
        </label>
      </div>
    </div>
  </div>

    <div class='row'>

      <div class="well" style="background-color:#f3e28c; margin-top: 20px;" ng-class="{'well-error' : error.auth_coor}">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <h4>UTILISATION ET GESTION DE VOS DONNEES PERSONNELLES</h4>
          <h3>LOI INFORMATIQUE ET LIBERTES</h3>
            <p>Cela concerne les informations recueillies par le TCU (Tennis Club de L'Union) afin de gérer votre demande d'adhésion et votre adhésion.<br>Ces données collectées sont gérées par les services administratifs et pédagogiques du club.<br><br>
<b> Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous disposez de droits d’interrogation, accès, modification, opposition, suppression et rectification </b>que vous pouvez exercer en envoyant un mail à l'attention du responsable du traitement des données à :<b> tennisclubdelunion@gmail.com</b>.<br>Sachez, <b>qu'en tant que membre de notre association vous pourrez exercer directement ce droit</b> d'accès, de modification, d'opposition, de rectification et de suppression, en vous connectant sur votre espace membre sécurisé, dès validation de votre inscription au club.</p>
             <p>Le TCU peut être amené à diffuser certaines informations vous concernant, à d'autres acteurs de votre parcours sportif, à la Fédération Française de Tennis et aux partenaires du TCU.<br><br>Veuillez préciser votre accord explicite en cochant une ou plusieurs cases suivantes.</p>

            <h4>J'autorise le TC de L'Union à communiquer mes coordonnées :</h4>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.coor_jr" ng-change="uncheckedOther()">
                <b>aux autres joueurs de tennis</b>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.coor_p_tcu" ng-change="uncheckedOther()">
                <b>aux entreprises partenaires du Tennis Club de L'Union</b>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.coor_p_fft" ng-change="uncheckedOther()">
                <b>aux entreprises partenaires de la Fédération Française de Tennis</b>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.unauthorized" ng-change="uncheckedOther(true)" >
                à personne en dehors des échanges avec le bureau du TC de L'Union
              </label>
            </div>
          </div>
          </div>
        </div>

    </div>

  </div>

  <div class="well" style="background-color:#c2e2b6" ng-if="reductions.length" ng-class="{'well-error' : error.reduction}">
  <h3 class="text-center">REDUCTIONS TARIFAIRES.</h3>
    <p>

      <br>En plus de votre <b>réduction éventuelle si vous habitez L'Union</b>, vous pouvez bénéficier <b>au plus</b> d'une des réductions suivantes (pièce justificative à fournir) :<br>
      </p>
    <div class="radio" ng-repeat="reduction in reductions">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="inscriptionsForm.reduction" ng-change="changeErrorState('reduction')" ng-value="reduction" >
        {{reduction.name}} {{reduction.description}}
      </label>
    </div>
  </div>

  <div class="well" style="background-color:cyan" ng-if="age < 18 && age != null" ng-class="{'well-error' : error.pec}">
    <h3 class="text-center">Autorisation parentale médicale</h3>
    <div class="form-group" show-errors>
      <label class="control-label col-md-offset-2 col-md-2 ">Je sousigné</label>
      <div class="col-md-4">
          <input class="form-control" type="text" ng-model="inscriptionsForm.rl" placeholder="Saisir le nom et le prénom du responsable légal" required/>
      </div>
    </div>

    <div class="col-md-12">
      <div class="well" style="background-color:#00cccc">
      <h4>Responsable de l'enfant {{inscriptionsForm.prenom}} {{inscriptionsForm.nom}}</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            L'autorise à pratiquer le tennis au tennis Club de L'Union.
            <br/>Je décharge les dirigeants et professeurs du TC de L'Union de toute responsabilité lors des déplacements de mon enfant organisés par le club.
            <br/>Je laisse le soin au professeur ou aux responsables du club de prendre toutes les dispositions nécessaires en cas d'accident.
          </label>
        </div>

    </div>
    </div>
    <div class="form-group" show-errors>


    <div class="well col-md-offset-1 col-md-10" style="background-color:#00cccc">
        <div class="col-md-6 ">
        <label class="control-label">En cas d'accident je désire que mon enfant soit conduit vers</label>
        </div>

        <div class="col-md-4 ">
        <select class=" form-control" ng-model="inscriptionsForm.pec" required>
          <option value="la clinique">La clinique la plus proche.</option>
          <option value="l'hôpital">L'hôpital le plus proche.</option>
          <option value="la clinique ou l'hôpital">La clinique ou l'hôpital le plus proche.</option>
        </select>
        </div>

      </div>
      </div>
  <div class="well" style="background-color:#00cccc">
    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>

        <div class='form-group' show-errors>
          <label class="control-label col-md-4" >Nom du médecin traitant</label>
          <div class="col-md-8">
            <input class="form-control" type="text" ng-model="inscriptionsForm.medecin" placeholder="Saisir le nom et le  prénom du médecin référent" autocomplete="off" />
          </div>
        </div>

      </div>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>

        <div class="form-group" show-errors>

          <label class="control-label col-md-4">Téléphone du médecin traitant</label>
          <div class="col-md-8">
            <input class="form-control" type="tel" ng-model="inscriptionsForm.medecin_tel" placeholder="Téléphone du médecin traitant"/>
          </div>
        </div>

      </div>

    </div>

    <h4 class="entete-well">Personne(s) à prévenir en cas d'accident (Veuillez saisir au moins une personne ci-dessous )</h4>
    <div class="form-group" ng-repeat="contact in inscriptionsForm.contacts">
      <label class="control-label col-md-2">Nom et prénom</label>
      <div class="col-md-3">
        <input class="form-control" type="text" ng-model="contact.nom" placeholder="nom et prénom"/>
      </div>
      <label class="control-label col-md-1">Parenté</label>
      <div class="col-md-2">
        <input class="form-control" type="text" ng-model="contact.lien_parente" placeholder="Lien de parenté"/>
      </div>
      <label class="control-label col-md-1">Tél.</label>
      <div class="col-md-2">
        <input class="form-control" type="tel" ng-model="contact.tel" placeholder="portable de préf."/>
      </div>
      <div class="col-md-2" ng-if="contact.position > 1">
        <button type="button" class="btn btn-danger" ng-click="inscriptionsForm.contacts.splice($index,1)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="addContact()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter personne à contacter
    </button>
  </div>
  </div>
  <div class="well" style="background-color:#f3e28c" ng-hide="age < 18" >
    <h3 class="text-center">Autorisation de publication de photos ou vidéos soumise au consentement</h3>
    <p>Je sousigné {{inscriptionsForm.prenom}} {{inscriptionsForm.nom}}</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="inscriptionsForm.media_autorisation" value="1">
        Autorise par la présente l'Association Tennis Club de L'Union à diffuser toutes photographies et vidéos sur lesquelles je figure, prises durant ses manifestations, en vue de les mettre en ligne à la disposition de toute personne qui viendra se connecter sur le site internet de l'association TC de l'Union ou sur ses publications papiers.<br>Valable pour une durée indéterminée, cette autorisation pourra être révoquée à tout moment (sur votre espace membre accessible dès validation de votre dossier par le TCU).<br>La présente autorisation est personnelle et incessible, et ne s'applique qu'aux supports explicitement mentionnés.
      </label>
    </div>
  </div>
  <div class="well" style="background-color:#f3e28c" ng-show="age < 18 && age != null">
    <h3 class="text-center">Autorisation de publication de photos ou vidéos soumise au consentement</h3>
    <p>
      Je sousigné {{inscriptionsForm.rl}}
      <br/>Responsable de l'enfant {{inscriptionsForm.prenom}} {{inscriptionsForm.nom}}
    </p>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="inscriptionsForm.media_autorisation" value="1">
        Autorise par la présente l'Association Tennis Club de L'Union à diffuser toutes photographies et vidéos sur lesquelles figure mon enfant, prises durant ses manifestations, en vue de les mettre en ligne à la disposition de toute personne qui viendra se connecter sur le site internet de l'association TC de l'Union ou sur ses publications papiers.<br>Valable pour une durée indéterminée, cette autorisation pourra être révoquée à tout moment (sur votre espace membre accessible dès validation de votre dossier par le TCU).<br>La présente autorisation est personnelle et incessible, et ne s'applique qu'aux supports explicitement mentionnés.</label>
    </div>
  </div>


  <div class="well show-errors" ng-if="!error.empty">
    <ul>
      <li ng-repeat="e in error" ng-if="e != false">{{e}}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg col-md-12" ng-click="submit()" ng-hide="isSubmit">Valider</button>
  <button type="submit" class="btn btn-primary btn-lg col-md-12" disabled ng-show="isSubmit">ENEGISTREMENT EN COURS .... VEUILLEZ PATIENTER SVP !</button>
</form>
