<form class="form" name="depense" >
<div class="well col-md-6 col-md-offset-2" style="background-color:#aeccea">
  
  <h3 class="text-center text-uppercase text-info">Enregistrer dépense</h3>
    <div class="alert alert-danger text-center" ng-if="error">
      {{error}}
    </div>
    <div class="form-group">
      <label class="control-label ">Libellé</label>
      <div >
        <input type="text" class="form-control" name="libelle" id="libelle" ng-model="depenseForm.libelle" placeholder="Libellé de la dépense" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label ">Fournisseur</label>
      <div>
        <input type="text" class="form-control" id="nom" name="fournisseur" ng-model="depenseForm.fournisseur" placeholder="Désignation fournisseur" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label ">Date</label>
      <div class="control-label ">
       <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="depenseForm.date"  name="datedepense" type="text"  placeholder="Date facture" required/>
        </datepicker>  
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label ">Numéro facture</label>
      
        <input type="text" class="form-control" id="nom" name="numfacture" ng-model="depenseForm.facture" placeholder="Num. facture">
      
    </div>

    <div class="form-group">
      <label for="account" class="control-label">Numéro de compte comptable</label>
      <input list="accounts" type="text" id="account" class="form-control" minlength="3" maxlength="6" ng-model="depenseForm.accountNumber" placeholder="Numéro de compte" ng-blur="checkIfExist(depenseForm.accountNumber)" required>
      <datalist id="accounts">
        <option ng-value="account.Numero" ng-repeat="account in accounts">{{account.Numero + ' - ' + account.Titre}}</option>
      </datalist>

    </div>
    <div class="form-group">
      <label class="control-label " for="accountTitre">Libélé de compte</label>

      <input type="text" class="form-control" id="accountTitre" name="numfacture" ng-model="depenseForm.accountTitre" placeholder="Libélé de compte" ng-disabled="accountExist" required>

    </div>

    <div class="form-group">
      <label class="control-label ">Montant</label>
      <div>
        <input type="text" class="form-control" id="email" ng-model="depenseForm.amount" name="montant" placeholder="Montant" required>
      </div>
    </div>
    <div class="form-group">

      <label class="control-label">Mode règlement</label>
      <div>
        <select name="selectList" id="selectList" ng-model="depenseForm.type" class="form-control" required>
         <option value=""></option>
        <option value="4">Espèces</option>
        <option value="1">Chèque</option>
         <option value="3">Virement</option>
          <option value="0">CB</option>
        </select>
      </div>
    </div>

  <div class="form-group">
    <label class="control-label ">Commentaire</label>
    <div >
      <input type="text" class="form-control" name="comment" id="comment" ng-model="depenseForm.comment" placeholder="Commentaire">
    </div>
  </div>

    <div class="form-group">
    
       <button type="submit" class="btn btn-default  col-md-2 col-md-offset-5" ng-click="newDepense()">Enregistrer</button>
    </div>

</div>
</form>