<div class="well">
    <div class="row">
        <div class="col-md-3">
            Total espèce en caisse {{totalEspece}} €
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">Vous avez {{cheque.length}} chèques à deposer</div>
                <div class="col-md-12">dont {{monthCheque.length}} ce mois-ci</div>
                <div class="col-md-12">et {{chequeLate.length}} en retard</div>
            </div>
        </div>
    </div>

</div>
<div class="well">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="amount">Montant des espèces à déposer</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="amount" placeholder="Montant" max="{{totalEspece}}" ng-model="amountEspece">
                    <div class="input-group-addon">€</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="row">
                <div class="col-md-12">Vous avez sélectionner {{numberOfCheque}} chèques</div>
            </div>
            <div class="row">
                <div class="col-md-12">Montant total des chèques: {{totalOfCheque}}€</div>
            </div>
            <div class="row">
                <div class="col-md-12">Montant total des dépots {{amountEspece + totalOfCheque}}€</div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="row">
                <div class="col-md-12">
                    <datepicker date-format="dd-MM-yyyy">
                        <input class="form-control" ng-model="date" ng-change="getDate(date)" name="date" type="text"
                               placeholder="Déposé le"/>
                    </datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="remarque" placeholder="Remarque" ng-model="remarque">
                </div>
            </div>
        </div>
        <div class="col-md-3"><button class="btn btn-success btn-block" ng-click="makeDepot()">Déposer</button></div>
    </div>
</div>

<div class="well" style="background-color:#5BC0DE">
    <h4 class="text-center text-uppercase text-info"> {{cheque.length}} chèques à déposer</h4>

    <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
        <td class="hidden-sm hidden-xs">Date encaissement</td>
        <td>Infos reglt.</td>
        <td>Montant</td>
        <td class="hidden-sm hidden-xs">N° facture</td>
        <td class="hidden-sm hidden-xs">Date échéance</td>
        <td>À déposer</td>
        </thead>
        <tr ng-repeat="regnd in cheque | filter:searchText" style="background-color:#ffffff" ng-class="{'danger': compareIsLate(regnd.date_echeance), 'success': compareIsMonth(regnd.date_echeance) }">
            <td class="hidden-sm hidden-xs">{{regnd.date_encaissement | amDateFormat:'Do MMM YYYY'}}</td>
            <td>{{regnd.remarque}}</td>
            <td>{{regnd.amount | currency}}</td>
            <td class="hidden-sm hidden-xs">{{regnd.factures.numero}}</td>
            <td class="hidden-sm hidden-xs">{{regnd.date_echeance | amDateFormat:'Do MMM YYYY'}}</td>
            <td class="text-center">
                <label>
                    <input type="checkbox" ng-model="chequeForDepot[regnd.id]" ng-true-value="{{regnd.id}}" ng-change="updateNumberOfcheque(regnd)">
                </label>
            </td>
        </tr>

        <tr>
            <td colspan='10'>
                <input class="form-control" type="text" ng-model="searchText" placeholder=" Trier et rechercher ici !">
            </td>
        </tr>

    </table>

</div>


<div class="well" style="background-color:#aeccea" ng-hide="true">
    <h4 class="text-center text-uppercase text-info"> {{reglementsDep.length}} règlements déposés</h4>

    <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">

        <td>Date dépôt</td>
        <td>Date échéance</td>
        <td>Date encaissement</td>
        <td>Mode reglt.</td>
        <td>Infos reglt.</td>
        <td>Montant</td>
        <td>N° facture</td>


        <td>Facture</td>
        </thead>
        <tr ng-repeat="reg in reglementsDep | filter:searchText" style="background-color:#ffffff">

            <td>{{reg.date_depot | amDateFormat:'Do MMM YYYY'}}</td>
            <td>{{reg.date_echeance | amDateFormat:'Do MMM YYYY'}}</td>
            <td>{{reg.date_encaissement | amDateFormat:'Do MMM YYYY'}}</td>
            <td>{{reg.methods.name}}</td>
            <td>{{reg.remarque}}</td>
            <td>{{reg.amount | currency}}</td>
            <td>{{reg.factures.number}}</td>


            <td class="text-center"><button type="button" class="btn btn-success btn-xs" ui-sref="facture({factureId: reg.facture_id})">Editer</button></td>
        </tr>
    </table>
</div>