

<h1 class="text-center text-uppercase text-info">ENREGISTRER ADHERENT NON JOUEUR</h1>


<form class="form-horizontal" name="inscriptions">



  <div class="well">
    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>

        <div class="form-group" ng-class="{'has-error' : error.sexe}" >
          <label class="control-label col-md-4">Sexe</label>
          <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="sexe" id="inlineRadio1" ng-change="changeErrorState('sexe')" ng-model="inscriptionsForm.sexe" value="f" required> Femme
            </label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="sexe" id="inlineRadio2" ng-change="changeErrorState('sexe')" ng-model="inscriptionsForm.sexe" value="h" required> Homme
            </label>
          </div>
        </div>

      </div>

    </div>
    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>

        <div class='form-group' show-errors ng-class="{'has-error' : error.prenom}">
          <label class="control-label col-md-4">Prénom</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="prenom" id="prenom" ng-blur="changeErrorState('prenom')" ng-model="inscriptionsForm.prenom" placeholder="Saisir le prénom" required>
          </div>
        </div>

      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>

        <div class="form-group" show-errors ng-class="{'has-error' : error.nom}">
          <label class="control-label col-md-4">Nom</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="nom" ng-blur="changeErrorState('nom')" name="nom" ng-model="inscriptionsForm.nom" placeholder="Saisir le nom" required>
          </div>
        </div>

      </div>

    </div>



    <div class='row'>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class='form-group' show-errors ng-class="{'has-error' : error.naissance}">
          <label class="control-label col-md-4">Date de naissance</label>
          <div class="col-md-8">
            <datepicker  date-format="dd-MM-yyyy">
              <input class="form-control" ng-model="date"  name="naissance" type="text" ng-blur="changeErrorState('naissance')" ng-change="getAge(date)" placeholder="Cliquez pour choisir la date de naissance"/>
            </datepicker>
          </div>
        </div>
      </div>

      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
        <div class="form-group" show-errors ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">1) Saisir code postal</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="cp" id="cp" ng-blur="codePostal(cp)" ng-model="cp" placeholder="Saisir le code postal" required>
          </div>
        </div>
      </div>

    </div>
    <div class='row'>



      <div class='col-lg-6 col-md-6 col-md-offset-6 col-sm-12 col-xs-12 '>
        <div class="form-group" show-errors ng-class="{'has-error' : error.ville}">
          <label class="control-label col-md-4">2) Choisissez ville</label>
          <div class="col-md-8">
            <select name="repeatSelectCities" class="form-control" id="repeatSelect" ng-model="ville" ng-change="getVille(ville)">
              <option ng-repeat="city in cities" ng-value="city.id">{{city.ville_nom_reel}}</option>
            </select>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group" ng-repeat="contact in inscriptionsForm.ownEmailContacts" show-errors ng-class="{'has-error' : error.email}">
          <label class="control-label col-md-4">Email{{$index > 0 ? " " + ($index + 1) : ""}}</label>
          <div class="col-md-8" ng-if="$index < 1">
            <input type="email" class="form-control" id="email" ng-model="contact.email" ng-blur="changeErrorState('email')" name="email" placeholder="Saisir l'email" required>
          </div>
          <div class="col-md-8" ng-if="$index >= 1">
            <div class="input-group">
              <input type="email" class="form-control" id="email{{$index + 1}}" ng-model="contact.email" name="email{{$index + 1}}" placeholder="Saisir l'email" required>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="inscriptionsForm.ownEmailContacts.splice($index,1)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addEmailOwnContact()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
        </button>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div ng-repeat="contact in inscriptionsForm.ownTelContacts">
          <div class="form-group" show-errors ng-class="{'has-error' : error.tel}">
            <label class="control-label col-md-4">Téléphone{{$index > 0 ? " " + ($index + 1) : ""}}</label>
            <div class="col-md-8" ng-if="$index < 1">
              <input type="tel" class="form-control" id="tel" ng-model="contact.tel" ng-blur="changeErrorState('tel')" name="tel" placeholder="Saisir le numéro de téléphone" require >
            </div>
            <div class="col-md-8" ng-if="$index >= 1">
              <div class="input-group">
                <input type="tel" class="form-control" id="tel" ng-model="contact.tel" name="tel{{$index + 1}}" placeholder="Saisir le numéro de téléphone" required >
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" ng-click="inscriptionsForm.ownTelContacts.splice($index,1)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn col-md-8 col-md-offset-4 btn-success" ng-click="addTelOwnContact()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
        </button>
      </div>

    </div>
    <div class='row'>

      <div class="well" style="background-color:#f3e28c; margin-top: 20px;" ng-class="{'well-error' : error.auth_coor}">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <h3>UTILISATION DE VOS DONNEES PERSONNELLES</h3>
            <p>Le TCU doit utiliser vos données afin de gérer votre adhésion.</br>Par ailleurs il peut être amené à les diffuser à d'autres acteurs de votre parcours sportif, à la Fédération Française de Tennis et à ses partenaires.</br> Veuillez préciser votre accord explicite en cochant toutes les cases suivantes.</p>
            <h4>J'autorise le TC de L'Union à communiquer mes coordonnées :</h4>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.coor_jr" ng-change="uncheckedOther()">
                aux autres joueurs de tennis
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.coor_p_tcu" ng-change="uncheckedOther()">
                aux entreprises partenaires du TC de l'Union
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.coor_p_fft" ng-change="uncheckedOther()">
                aux entreprises partenaires de la FFT
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="inscriptionsForm.auth_coor.unauthorized" ng-change="uncheckedOther(true)" >
                à personne en dehors des échanges avec le bureau du TC de L'Union
              </label>
            </div>
          </div>
          </div>
        </div>

    </div>

  </div>

  <div class="well" style="background-color:#f3e28c" >
    <h3 class="text-center">Autorisation de publication de photos ou vidéos soumise au consentement</h3>
    <p>Je sousigné {{inscriptionsForm.prenom}} {{inscriptionsForm.nom}}</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="inscriptionsForm.media_autorisation" value="1">
        Autorise par la présente l'Association Tennis Club de L'Union à diffuser toutes photographies et vidéos sur lesquelles je figure prise durant ses manifestations, en vue de les mettre en ligne à la disposition de toute personne qui viendra se connecter sur le site internet de l'association TC de l'Union ou sur ses publications papiers. Valable pour une durée indéterminée, cette autorisation pourra être révoquée à tout moment. La présente autorisation est personnelle et incessible, et ne s'applique qu'au support explicitement mentionné.
      </label>
    </div>
  </div>

  <div class="well" style="background-color:#2cbe0e">
     <h2 class="entete-well">Attribution des rôles</h2>

 <div class="well" style="background-color:#4aef2a">
   <div class="form-group text-center">

       <label class="checkbox-inline">
         <input type="checkbox" ng-true-value="2" ng-false-value="null" ng-model="inscriptionsForm.role[2]">
         Admin
       </label>

       <label class="checkbox-inline">
         <input type="checkbox" ng-true-value="5" ng-false-value="null" ng-model="inscriptionsForm.role[5]">
         Trésorier
       </label>

       <label class="checkbox-inline">
         <input type="checkbox" ng-true-value="4" ng-false-value="null" ng-model="inscriptionsForm.role[4]">
         Prof
       </label>

       <label class="checkbox-inline">
         <input type="checkbox" ng-true-value="3" ng-false-value="null" ng-model="inscriptionsForm.role[3]">
         Permanent
       </label>

       <label class="checkbox-inline">
         <input type="checkbox" ng-true-value="6" ng-false-value="null" ng-model="inscriptionsForm.role[6]">
         Moniteur
       </label>

       <label class="checkbox-inline">
         <input type="checkbox" ng-true-value="1" ng-false-value="null" ng-model="inscriptionsForm.role[1]">
         Adhérent
       </label>

   </div>
   </div>


 </div>


  <div class="well show-errors" ng-if="!error.empty">
    <ul>
      <li ng-repeat="e in error" ng-if="e != false">{{e}}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg col-md-12" ng-click="submit()" ng-hide="isSubmit">Valider</button>
  <button type="submit" class="btn btn-primary btn-lg col-md-12" disabled ng-show="isSubmit">ENEGISTREMENT EN COURS .... VEUILLEZ PATIENTER SVP !</button>
</form>
