<h1 class="text-center text-uppercase text-info">NOUVELLE VENTE</h1>

<div class="col-md-4 col-md-offset-4">
  <form class="form">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="password">
    </div>
    <button class="btn btn-block btn-primary" ng-click="login()">Enregistrer la vente</button>
  </form>
</div>
