<form class="form" name="depense">
<div class="well col-md-6 col-md-offset-2"style="background-color:#aeccea">
  
  <h3 class="text-center text-uppercase text-info">Enregistrer une recette</br> (hors ventes et inscriptions)</h3>
   
    <div class="form-group">
      <label class="control-label ">Libellé</label>
      <div >
        <input type="text" class="form-control" name="libelle" id="libelle" ng-model="depenseForm.libelle" placeholder="Libellé de la dépense">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label ">Adherent</label>
      <div>
        <input type="text" class="form-control" id="nom" name="user" ng-model="depenseForm.user" placeholder="Choisir adhérent">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label ">Date</label>
      <div class="control-label ">
       <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="date_rglt"  name="date_rglt" type="text"  placeholder="Date encaissement"/>
        </datepicker>  
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label ">Numéro facture</label>
      
        <input type="text" class="form-control" id="nom" name="numfacture" ng-model="depenseForm.numfacture" placeholder="Num. facture">
      
    </div>

    <div class="form-group">
      <label class="control-label ">Montant</label>
      <div>
        <input type="text" class="form-control" id="montant" ng-model="depenseForm.montant" name="montant" placeholder="Montant">
      </div>
    </div>
    <div class="form-group">

      <label class="control-label">Mode règlement</label>
      <div>
        <select name="selectList" id="selectList" class="form-control">
         <option value=""></option>
        <option value="Espèces">Espèces</option>
        <option value="Chèque">Chèque</option>
         <option value="Virement">Virement</option>
          <option value="CB">CB</option>
        </select>
      </div>
    </div>
<div class="form-group">
      <label class="control-label ">Date échéance</label>
      <div class="control-label ">
       <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="date_echeance"  name="date_echeance" type="text"  placeholder="Date échéance"/>
        </datepicker>  
      </div>
    </div>
    
    <div class="form-group">
    <label class="control-label ">Remarque</label>
      <div>
                <textarea class="form-control"  id="remarque" ng-model="remarque"  rows="3"></textarea>
          </div>
      
    </div>

   
<div class="form-group">
    
       <button type="submit" class="btn btn-default  col-md-2 col-md-offset-5" ng-click="submit()">Enregistrer</button>
    </div>
 </div>
</form>