<div class="well">
  <div class="row">
    <div class="col-md-12 ">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well">
  <h1 class="text-center text-uppercase text-info">DEFINIR NOUVELLE SAISON</h1>
 
    
      <table class="table table-bordered table-hover  panel-primary">

        <thead class="panel-heading  text-center">
          <td>Date pré.</td>
          <td>Adhérent</td>
          <td>Age</td>
          <td>Tel</td>
          <td>Souhait cat</td>
          <td>Souhait jour</td>
          <td>Catégorie</td>
          <td>Groupe</td>
          <td>Jour af.</td>
          <td>Heure deb.</td>
          <td>Heure fin.</td>
          
         
          <td>Statut adhésion</td>
          <td>Fiche adhérent</td>
        </thead>
      
    <tbody>
      <tr ng-repeat="registration in registrations | filter:searchText">
          <td>{{registration.pre_date | date}}</td>
          <td>{{registration.nom | uppercase}} {{registration.prenom}}</td>
           <td>{{registration.age}} ans</td>
          <td>{{registration.tel}}</td>
          <td>{{registration.categorie}}</td>
          <td>{{registration.day_pref}}</td>
          <td>{{registration.categorie_att}}</td> 
          <td>{{registration.groupe_att}}</td>
          <td>{{registration.jour_att}}</td>
          <td>{{registration.heure_debut}}</td>
          <td>{{registration.heure_fin}}</td>
           <td>{{registration.statut}}</td>

          <td class="text-center"><button type="button" class="btn btn-primary btn-xs" ui-sref="adherent({userId: registration.id_user})">Fiche</button></td>
        </tr>
        </tbody>
      
      </table>
    </div>
</div>
