
<div class="well" style="background-color:#aeccea">
<h1 class="text-center text-uppercase text-info">VENTE ARTICLES</h1>


<form class="form-horizontal" name="vente">



  <div class="well">
    
    <div class="form-group">
      <label class="control-label col-md-2">Choisir adhérent</label>
      <div class="col-md-4">
        <input type="text" class="form-control" name="user" id="prenom" ng-model="inscriptionsForm.user" placeholder="Choisissez adhérent">
      </div>
       <label class="control-label col-md-2">Date facture</label>
      <div class="col-md-4">
        <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="date"  name="naissance" type="text"  placeholder="Facturé le..."/>
        </datepicker>
      </div>
      
    </div>
    <div class="form-group">
      <label class="control-label col-md-2 col-md-offset-6">Numéro facture</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="numfacture" name="numfacture" ng-model="inscriptionsForm.numfacture" placeholder="Numéro de la facture">
      </div>
      
    </div>
    
  
  </div>

  

  
  <div class="well" style="background-color:#c2e2b6">
    <div class="form-group">

    <h4 class="text-center">ARTICLES</h4>
    <div class="form-group" ng-repeat="contact in inscriptionsForm.contacts">
      <label class="control-label col-md-1">Article</label>
      <div class="col-md-2">
        <input class="form-control" type="text" ng-model="contact.nom" placeholder="Choisir article"/>
      </div>
      
      <div class="col-md-1">
        <input class="form-control" type="text" ng-model="contact.lien_parente" placeholder="PU" readonly="true" />
      </div>
      
      <div class="col-md-1">
        <input class="form-control" type="text" ng-model="qte" placeholder="Qté"/>
      </div>
      
      <div class="col-md-1">
        <input class="form-control" type="text" ng-model="total" placeholder="Total" readonly="true" />
      </div>
      
      <div class="col-md-1">
        <input class="form-control" type="text" ng-model="remise" placeholder="Rem."/>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" ng-model="prix_net" placeholder="Net à payer" readonly="true" />
      </div>
      <div class="col-md-2" ng-if="contact.position > 2">
        <button type="button" class="btn btn-danger" ng-click="inscriptionsForm.contacts.splice($index,1)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="addContact()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  </div>
  
  <div class="well" >
    
    <div class="form-group">
      <label class="control-label col-md-3">TOTAL AVANT REMISES</label>
      <div class="col-md-2">
        <input type="text" class="form-control" name="user" id="prenom" ng-model="inscriptionsForm.user" readonly="true">
      </div>

      <label class="control-label col-md-3">REMISES SUR LV</label>
      <div class="col-md-2">
        <input type="text" class="form-control" name="user" id="prenom" ng-model="inscriptionsForm.user" readonly="true">
      </div>
       
      
    </div>
    
    <div class="form-group">
      <label class="control-label col-md-3">TOTAL APRES REMISES LV</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="numfacture" name="numfacture" ng-model="inscriptionsForm.numfacture" readonly="true">
      </div>
      <label class="control-label col-md-3">REMISE SUR TOTAL FACTURE</label>
      <div class="col-md-2">
        <input type="text" class="form-control" name="user" id="prenom" ng-model="inscriptionsForm.user" placeholder="Remise sur total ?" >
      </div>
      
    </div>
    <div class="form-group">
     
      <div class="form-group">
      <label class="control-label col-md-3">TOTAL NET A PAYER</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="numfacture" name="numfacture" ng-model="inscriptionsForm.numfacture" readonly="true">
      </div>
      
    </div>
    </div>
  
  </div>
  <div class="well" style="background-color:#c2e2b6">
    <div class="form-group">

    <h4 class="text-center">REGLEMENTS</h4>
    <div class="form-group" ng-repeat="contact in inscriptionsForm.contacts">
     
      <div class="col-md-2">
        <input class="form-control" type="text" ng-model="contact.nom" placeholder="Montant"/>
      </div>
      
      <div class="col-md-2">
        
        <select name="selectList" id="selectList" class="form-control">
         <option value=""></option>
        <option value="Espèces">Espèces</option>
        <option value="Chèque">Chèque</option>
         <option value="Virement">Virement</option>
          <option value="CB">CB</option>
        </select>
     
      </div>
      <div class="col-md-2">
        <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="date_depot"  name="naissance" type="text"  placeholder="encaissé le"/>
        </datepicker>
      </div>
      <div class="col-md-2">
        <datepicker  date-format="dd-MM-yyyy">
          <input class="form-control" ng-model="date_echeance"  name="naissance" type="text"  placeholder="Echéance le"/>
        </datepicker>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" ng-model="contact.tel" placeholder="info. rglt"/>
      </div>
      
     
      
      
      
      <div class="col-md-2" ng-if="contact.position > 2">
        <button type="button" class="btn btn-danger" ng-click="inscriptionsForm.contacts.splice($index,1)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="addContact()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  </div>

  <div class="well" style="background-color:#f3e28c">
    
    <div class="form-group">
      <label class="control-label col-md-2">ENCOURS</label>
      <div class="col-md-2">
        <input type="text" class="form-control" name="user" id="prenom" ng-model="inscriptionsForm.user" readonly="true">
      </div>
       
      
    
      <label class="control-label col-md-3">SOLDE RESTANT</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="numfacture" name="numfacture" ng-model="inscriptionsForm.numfacture" readonly="true">
      </div>
      
    </div>
    
      
    </div>
    </div>


  <button type="submit" class="btn btn-success btn-lg col-md-6 col-md-offset-3" ng-click="submit()">Enregistrer facture & règlements</button>

</form>


</div>