<div class="well" style="background-color:#aeccea">
<h3 class="text-center text-uppercase text-info">Rechercher</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well" style="background-color:#aeccea">
  <h3 class="text-center text-uppercase text-info">Suivi des factures</h3>
      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
          <td>Date</td>
          <td>N° facture</td>
          <td>Objet</td>
          <td>Détails</td>
          <td>Total</td>
          <td>Encours</td>
          <td>Remise</td>
          <td>Solde</td>
          <td>Date payée</td>



          <td>Facture</td>
        </thead>
      <tr ng-repeat="facture in factures | filter:searchText" style="background-color:#ffffff">
          <td>{{facture.created_at | amDateFormat:'Do MMM YYYY'}}</td>
          <td>{{facture.numero}}</td>
          <td>{{facture.designation}}</td>
          <td>


          <ul>
                <li ng-repeat="line in facture.lines" class="list-unstyled">
                    {{line.designation}}</li>
              </ul>
          </td>
          <td>{{getTotalLines(facture) | currency}}</td>
          <td>{{getTotalPay(facture) | currency}}</td>
          <td>{{facture.remise ? facture.remise : 0|currency}}</td>
          <td>{{getTotalLines(facture) - getTotalPay(facture) - facture.remise | currency}}</td>

          <td>{{facture.date_payer| amDateFormat:'Do MMM YYYY'}}</td>


          <td class="text-center"><button type="button" class="btn btn-success btn-xs" ng-click="showFacture(facture.id)">Editer</button></td>
        </tr>
      </table>

</div>
<div class="well col-md-4 col-md-offset-4" style="background-color:#aeccea">
    <form class="form form-vertical" name="periodereglementsForm">

        <div class="form-group">

            <label class="control-label ">Filtre début</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_d"  name="debut" type="text" placeholder="Cliquez pour choisir date de début"/>
            </datepicker>
        </div>

        <div class="form-group">
            <label class="control-label">Filtre fin</label>


            <datepicker  date-format="dd-MM-yyyy">
                <input class="form-control" ng-model="filtre.date_f"  name="fin" type="text" placeholder="Cliquez pour choisir date de fin"/>
            </datepicker>
        </div>
        <div class="form-group text-center">

            <button type="submit"  class=" control-label btn btn-primary " ng-click="makeFiltre(0)">
                Afficher
            </button>
            <button type="submit"  class=" control-label btn btn-danger " ng-click="makeFiltre(1)">
                Edition PDF
            </button>
        </div>

    </form>
</div>
