
<h3 class="text-center text-uppercase text-info">Liste des {{nombrecheques}} factures non réglées</h3>

<div class="well" style="background-color:#aeccea">

  <div class="row">
   <label class="control-label col-md-2 col-md-offset-2">Rechercher</label>
      
    <div class="col-md-4">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Pour le mois ex : 06 pour juin...">
    </div>
  </div>
</div>


<div class="well" style="background-color:#aeccea">
  
      <table class="table table-bordered table-hover  panel-primary table-striped">

        <thead class="panel-heading  text-center">
          <td>Date facture</td>
          <td>Adhérent</td>
          <td>N° facture</td>
          <td>Désignation</td>
          <td>Montant</td>
          <td>Encours</td>
           <td>Solde</td>
          <td>Relances</td>
          <td>Relancer</td>
        </thead>
      <tr ng-repeat="facture in factures | filter:searchText" style="background-color:#ffffff">
          <td>{{facture.date | date: 'dd MMMM yyyy'}}</td>
          
          <td>{{facture.nom | uppercase}} {{facture.prenom}}</td>
          <td>{{facture.numfacture}}</td>
          <td>{{facture.designation}}</td>
          

          <td>{{facture.montant}} €</td>
          
          <td>{{facture.encours}}</td>
          <td>{{facture.solde}}</td>
          <td>{{facture.relance1}} </br>{{facture.relance2}}</td>
          
          
          
          </td> 
          <td class="text-center"><button type="button" class="btn btn-danger btn-xs" ui-sref="facture({factureId: reglement.id_facture})">Relancer</button></td>
        </tr>
      </table>
</div>



    

  

</div>
