<div class="well">
<h3 class="text-center text-uppercase text-info">Rechercher une vente</h3>
  <div class="row">
    <div class="col-md-12 ">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Saisissez votre recherche ici...">
    </div>
  </div>
</div>

<div class="well">
  <h3 class="text-center text-uppercase text-info">Liste des ventes réalisées</h3>
 
    
      <table class="table table-bordered table-hover  panel-primary">

        <thead class="panel-heading  text-center">
          <td>Date</td>
          <td>Adhérent</td>
          <td>N° facture</td>
          <td>Articles</td>
          <td>Montant</td>
          <td>Remise</td>
          <td>Total</td>
          <td>Encours</td>
          <td>Solde</td>
          <td>Suivi</td>
          <td>Facture</td>
         
        </thead>
      
    <tbody>
      <tr ng-repeat="vente in ventes | filter:searchText">
          <td>{{vente.date_fact | date:'dd/MM/yyyy'}}</td>
          <td>{{vente.adherent}}</td>
          <td>{{vente.numfacture}}</td>
          <td>{{vente.articles}}</td>
          <td>{{vente.montant}} €</td>
          <td>{{vente.remise}} €</td>
          <td>{{vente.total}} €</td> 
          <td>{{vente.encours}} €</td>
          <td>{{vente.solde}} €</td>
          <td>{{vente.Suivi}}</td>
          

          <td class="text-center"><button type="button" class="btn btn-primary btn-xs" ui-sref="facture({factureId: vente.id_facture})">Facture</button></td>
        </tr>
        </tbody>
      
      </table>
    </div>
</div>
