<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <!--<a class="navbar-brand" href="#"><img src="../images/logosmall.png"></a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown" permission="" permission-except="['Adhérent']">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADHESIONS<span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a ui-sref="inscription">Enregistrer</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="app.index.adhesions">Liste adhésions</a></li>
          </ul>
        </li>


        <!--       <li><a ui-sref="app.index.adherents">ADHERENTS</a></li> -->



        <li class="dropdown" permission="" permission-only="['Trésorier','Admin']" ng-hide="true">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RECETTES <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.index.newvente">Vente</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="app.index.recettes">Suivi Factures</a></li>
            <!--       <li role="separator" class="divider"></li> -->
            <!--       <li><a ui-sref="app.index.newrecette">Autres recettes (non disponible)</a></li> -->
          </ul>
        </li>

        <li class="dropdown" permission="" permission-only="['Trésorier','Admin']" ng-hide="true">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEPENSES <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.index.newdepense">Enregistrer dépense (non disponible)</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="app.index.depenses">Suivi dépenses (non disponible)</a></li>
          </ul>
        </li>

        <li class="dropdown" permission="" permission-only="['Trésorier','Admin']">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TRESORERIE <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a ui-sref="app.index.depotbanque.new" ng-hide="false">Dépot en banque</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="app.index.recettes">Suivi Factures</a></li>
            <li><a ui-sref="app.index.echeancier">Suivi des recettes</a></li>
            <!--Module à ajouter plus tard-->

            <!--<li><a ui-sref="app.index.newrecette">Enregistrer une recettes</a></li>-->
            <li role="separator" class="divider"></li>
            <li><a ui-sref="app.index.depenses">Suivi des dépenses</a></li>
            <li><a ui-sref="app.index.newdepense">Enregistrer une dépense</a></li>
            <!--  <li role="separator" class="divider"></li>
             <li><a ui-sref="app.index.grandlivre">Grand Livre</a></li>
             -->

          </ul>
        </li>
        <!-- <li class="dropdown">
         <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GESTION <span class="caret"></span></a>
         <ul class="dropdown-menu"> -->

        <!--   <li><a ui-sref="app.index.relances">Relances (non disponible)</a></li> -->
        <!--  <li role="separator" class="divider"></li> -->
        <!--    <li><a ui-sref="app.index.grandlivre">Grand Livre (non disponible)</a></li> -->
        <!--  </ul>
       </li> -->
        <li class="dropdown" permission="" permission-only="['Admin']">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PARAMETRAGE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.index.newmembre">Créer un membre sans inscription</a></li>
            <!-- <li role="separator" class="divider"></li> -->
            <!-- <li><a ui-sref="app.index.gestionadherents">Rôles</a></li> -->
            <!--  <li role="separator" class="divider"></li>-->
            <!--  <li><a ui-sref="app.index.gestionadherents">Archives</a></li>-->
            <!--  <li><a ui-sref="app.index.saison">Nouvelle saison (non disponible)</a></li> -->
            <!-- <li role="separator" class="divider"></li> -->
            <!--   <li><a ui-sref="app.index.renouvellement">Période renouvellement (non disponible)</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a ui-sref="app.index.articles">Gestion des articles</a></li>
           <li role="separator" class="divider"></li>
            <li><a ui-sref="app.index.account">Gestion comptabilité</a></li>
          </ul>
        </li>
        <li><a ui-sref="app.auth"><span class="fa fa-power-off"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text text-center current-user">
          <a ui-sref="app.index.adherent({userId: currentUser.id})">{{currentUser.prenom}} {{currentUser.nom}}</a>
          <ul class="list-inline">
            <li ng-repeat="r in currentRoles">{{r.name}}</li>
          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
